.desc-line
  .row
    .col-7.align-self-center
      h2.block-title.block-title-md.desc-line__title= productTitle[0]
      p= productText[0]
    .col-5
      .img-block
        img(src=productImg[0], alt="")

    if( reverse )
      .col-5
        .img-block
          img(src=productImg[1], alt="")
      .col-7.align-self-center
        h2.block-title.block-title-md.product__title= productTitle[1]
        p= productText[1]