.montage.main-font
  .row
    .col-6
      //- Montage Board
      .montage__board
        h3.montage__board-title В комплекте:
        .row
          .col-3
            .img-block
              img(src="img/montage/montage-1.png", alt="")
            span.montage__board-desc Магнитные модули
          .col-3
            .img-block
              img(src="img/montage/montage-2.png", alt="")
            span.montage__board-desc Крепежи
          .col-3
            .img-block
              img(src="img/montage/montage-3.png", alt="")
            span.montage__board-desc Спец. расствор
          .col-3
            .img-block
              img(src="img/montage/montage-4.png", alt="")
            span.montage__board-desc 3 стикера В&nbsp;ПОДАРОК!

      //- Montage Steps
      .montage__steps
        .row
          .col-4
            span.step Шаг 1.
            .img-block
              img(src="img/montage/marking.svg", alt="")
            span.text Размечаем места крепления
          .col-4
            span.step Шаг 2.
            .img-block
              img(src="img/montage/disinfection.svg", alt="")
            span.text Протираем спец. расствором
          .col-4
            span.step Шаг 3.
            .img-block
              img(src="img/montage/waiting.svg", alt="")
            span.text Ждем 5&nbsp;мин
          .col-4
            span.step Шаг 4.
            .img-block
              img(src="img/montage/marking-2.svg", alt="")
            span.text Клеим подложку и&nbsp;крепежи
          .col-4
            span.step Шаг 5.
            .img-block
              img(src="img/montage/waiting-2.svg", alt="")
            span.text Ждем 10 мин
          .col-4
            span.step Шаг 6.
            .img-block
              img(src="img/montage/glue.svg", alt="")
            span.text Крепим модули
    .col-6
      .montage__video-block
        video(src="#" poster="img/montage/montage-video.jpg")
        button.montage__video-play.js-montageVideoPlay
          i.icon.video-play-icon