.more-products.main-font
  .row
    .col-3
      a(href="#")
        .img-block
          img(src="img/products/product-thumb-1.jpg", alt="")
      a(href="#")
        h4.more-products__title Магнитные модули
      p 12 500
        span.rub &#8381;
    .col-3
      a(href="#")
        .img-block
          img(src="img/products/product-thumb-2.jpg", alt="")
      a(href="#")
        h4.more-products__title Магнитные модули
      p 12 500
        span.rub &#8381;
    .col-3
      a(href="#")
        .img-block
          img(src="img/products/product-thumb-3.jpg", alt="")
      a(href="#")
        h4.more-products__title Магнитные модули
      p 12 500
        span.rub &#8381;
    .col-3
      a(href="#")
        .img-block
          img(src="img/products/product-thumb-4.jpg", alt="")
      a(href="#")
        h4.more-products__title Магнитные модули
      p 12 500
        span.rub &#8381;