if( advantages )
  .product-advantages.main-font
    .row
      .col-3
        .img-block
          img(src="img/advantages/Design.svg", alt="")
        h6.title Лаконичный #[br] дизайн
        p Станет стильным украшением для любого офиса
      .col-3
        .img-block
          img(src="img/advantages/Mobility.svg", alt="")
        h6.title Мобильность #[br] и удобство
        p Модули лёгкие, можно переносить одной рукой, перемещать, менять местами, класть на стол
      .col-3
        .img-block
          img(src="img/advantages/Coating.svg", alt="")
        h6.title Покрытие #[br] на любой вкус
        p Магнитно-маркерное, пробковое, с&nbsp;индивидуальной печатью
      .col-3
        .img-block
          img(src="img/advantages/Print.svg", alt="")
        h6.title Индивидуальная #[br] печать
        p Можно разместить логотип, календарь, таблицу для SWOT анализа или ТРИЗ