- var totalCost = 1500;
.product-board.main-font(data-total-cost=totalCost)
  h1= productPageTitle
  if( productPageDesc )
    p.product-board__desc= productPageDesc
  span.product-board__stock есть в наличии

  .board-props
    include  ../product_board_components/_cover.pug
    include  ../product_board_components/_stick-line.pug
    include  ../product_board_components/_number-control.pug
    include  ../product_board_components/_number-preset.pug
    include  ../product_board_components/_number-control-color.pug

  .product-cost
    strong.total= totalCost
    span.rub &#8381;
  .product-cart-btn-block
    a.btn.product-cart-btn(href="#") Добавить в корзину
  .product-board__info
    span Доставка 2&nbsp;-&nbsp;15&nbsp;раб. дней. Бесплатная доставка при&nbsp;покупке от&nbsp;2000&nbsp;руб.
