.cart-page {

  &-wrapper {
    padding-top: 25px;
    padding-bottom: 50px;

    strong {
      font-weight: 500;
    }

    h1 {
      font-family: inherit;
      font-weight: 500;
    }

    .rub {
      font-size: .8em;
    }
  }

  &__col-top {
    min-height: 535px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}

.cart-list {
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;

  .row {
    flex-wrap: nowrap;
  }

  &__item {
    padding: 20px 0 15px;
    border-bottom: 1px solid @mainGray;

    &:last-of-type {
      padding-bottom: 40px;
    }
  }

  &__item-name {
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__item-cost {
    font-size: 20px;
    white-space: nowrap;
    padding-right: 35px;
    margin-left: auto;

    .rub {
      margin-left: 5px;
    }
  }

  &__close-item {
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
    }
  }

}

.cart-total-info {
  margin-top: 25px;
  margin-top: auto;

  table {
    margin-left: auto;

    td {
      vertical-align: baseline;
      padding: 4px 0;

      &:first-of-type {
        padding-right: 45px;
      }
    }

    .total {
      font-size: 24px;
      padding-top: 15px;
    }
  }
}

.cart-form {

  &-col {
    margin-left: auto;
  }

  p {
    margin-bottom: 26px;
  }

  input,
  textarea {
    width: 100%;
    border-color: @gray;
    margin: 8px 0;

    &:focus {
      outline: none;
      box-shadow: 0 0 8px 0 rgba( @black, .05 );
    }
  }

  textarea {
    height: 144px;
    resize: none;
  }

  .form-btn {
    font-size: 18px;
  }

  .form-info {
    margin-bottom: 30px;
  }
}

.cart-popup {
  position: relative;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba( @black, .15 );
  background-color: @white;
  text-align: center;
  padding: 1em 5em 2em;
  margin: 45px auto;

  .img-block {
    text-align: left;
  }

  .block-title-md {
    font-weight: 500;
  }

  p {
    max-width: 287px;
    margin: 20px auto 30px;
  }

  img {
    width: 100%;
    max-width: 289px;
  }

  &__close {
    cursor: pointer;
    margin: 15px 0;
  }
}

@media( max-width: @lg-size ) {

  .cart-list {

    .row {
      flex-wrap: wrap;
    }

    &__item-main-desc {
      .colWidth( calc( 100% - 105px ) );
    }
  }

  .cart-page {

    &__col-top {
      min-height: 400px;
    }
  }

  .cart-form-col {
    .colWidth( 33.33333% );
  }

  .cart-main-col {
    margin-bottom: 35px;
  }
}

@media( max-width: @md-size ) {

  .cart-main-col,
  .cart-form-col {
    .colWidth( 100% );
  }

}

@media( max-width: @sm-size ) {

  .cart-list {

    &__item-cost,
    &__item-control {
      margin: 15px 0 15px auto;
    }
  }
}

@media( max-width: @xs-size ) {

  .cart-list {

    &__item {
      position: relative;
    }

    &__close {
      position: absolute;
      top: 5px;
      right: 0;
      padding: 0;
    }
  }

  .cart-popup {
    padding: 1em 2.5em 2em;
  }
}