// Footer
.footer {
  min-height: 350px;
  background-color: @blue;
  font-size: 13px;
  color: @white;
  padding: 6.5em 0;

  &__logo {
    display: block;
    max-width: 168px;
    margin-bottom: 45px;
  }

  &__menu {

    li {

      + li {
        margin-top: 30px;
      }

      a,
      a:visited {
        font-size: 13px;
        font-weight: 500;
        color: inherit;

        &:hover {
          opacity: .7;
        }
      }
    }
  }

  &__title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: inherit;
    padding-bottom: 8px;
    margin-top: 10px;

    &:after {
      .pseudo();
      bottom: 0;
      left: 0;
      background-color: rgba( @white, .5 );
      width: 72px;
      height: 1px;
    }
  }

  &__contact-item {
    font-size: 13px;
    margin-top: 30px;

    &:first-of-type {
      margin-top: 35px;
    }
  }

  .site-phone {

    .icon {
      vertical-align: initial;
      margin-right: 8px;
    }
  }

  .site-email {

    .icon {
      vertical-align: text-top;
      margin-right: 8px;
    }
  }

  &__social-block {

    .social-link {

      + .social-link {
        margin-left: 20px;
      }
    }
  }


  .custom-checkbox {
    margin-top: 6px;

    &.private-policy {

      label {
        color: rgba( @white, .9 );

        &:before {
          background-color: rgba( @white, .5 );
        }
      }
    }
  }

  &__form {

    .flex-col {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;

      .form-info {
        width: 100%;
      }
    }
  }
}

@media( max-width: @xl-size ) {

  .footer {

    .col-3 {
      .colWidth( 50%);
    }

    .row--first {

      > .col-6 {
        .colWidth( 100% );
        margin-top: 40px;
      }
    }
  }
}

@media( max-width: @sm-size ) {
  .footer {
    padding: 5em 0;

    .row--first {

      > .col-6 {
        .colWidth( 100% );

        .col-6 {
          .colWidth( 100%);

          + .col-6 {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

@media( max-width: @xs-size ) {

  .footer {

    .col-3 {
      .colWidth( 100% );

      + .col-3 {
        margin-top: 40px;
      }
    }

    &__logo {
      margin-bottom: 25px;
    }
  }
}