.main-page,
.about-us-page {

  .top-bar {
    background-color: @mainGray;
  }
}

.fixed {

  .top-bar {
    position: fixed;
    width: 100%;
    background-color: @white;
    bottom: 100%;
    box-shadow: 0 2px 8px 0 rgba( @black, .05 );
    padding: 22px 0;
    transform: translateY(100%);
    transition: transform .3s;
    z-index: 1000;
  }
}

.top-bar {
  padding: 30px 0;

  &__search-input {
    display: none;
  }
}

.nav-toggle {
  position: relative;
  width: 20px;
  font-size: 0;
  vertical-align: super;
  margin-right: 35px;
  cursor: pointer;
  transform-origin: center;
  z-index: 120;

  span {
    border-radius: 5px;
    width: 100%;
    height: 3px;
    background-color: @blue;
    .transition( all 0.2s);

    + span {
      margin-top: 3px;
    }
  }
}

.open-nav-menu {

  .nav-toggle {

    span {
      &:first-of-type {
        transform: rotate(-45deg) translate( -2px, 6px) ;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-of-type {
        transform: rotate(45deg) translate(-2px, -7px) ;
      }
    }
  }

}

.nav-col {
  margin-left: auto;
}

.site-top-logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 120;

  img {
    max-width: 168px;
  }
}

.site-top-navigation {

  .menu {
    .flex();
    color: @darkGray;
    margin: 0 -15px;

    > li {
      position: relative;
      font-size: 14px;
      font-weight: 500;
      padding: 0 15px;
      z-index: 50;

      a {
        padding: 15px 5px;
      }

      &.has-children {

        &:hover {

          .sub-menu {
            opacity: 1;
            visibility: visible;
            .transition( opacity .3s );
            z-index: 110;
          }
        }
      }
    }

    a {
      display: block;
      color: inherit;
    }

    .sub-menu {
      position: absolute;
      top: 100%;
      left: 20px;
      visibility: hidden;
      background-color: @white;
      border-radius: 5px;
      box-shadow: 0 16px 24px 0 rgba( @black, .15 ),
                  0 6px 2px 0 rgba( @black, .10 ),
                  0 1px 0 0 rgba( @black, .10 );
      white-space: nowrap;
      overflow: hidden;
      opacity: 0;
      padding: 10px 0;
      z-index: -10;

      li {

        a {
          padding: 12px 24px;

          &:hover {
            background-color: @mainGray;
          }
        }

        + li {
          border-top: 1px solid #CFCED4;
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  background-color: @white;
  width: 100%;
  max-width: 320px;
  padding-top: 80px;
  transition: transform .3s;
  z-index: 110;

  &-inner {
    height: 100%;
    overflow: auto;
    padding: 0 30px 15px 15px;
  }

  &-search {
    position: relative;
    margin: 15px 0;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    opacity: .6;
    transform: translateY(-50%);
  }

  .search-input {
    width: 100%;
    border: 1px solid @mainGray;
    border-radius: 5px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    color: inherit;
    line-height: 1;
    padding: 10px 14px 10px 30px;

    &:focus {
      outline: none;
      box-shadow: 0 0 8px 0 rgba( @mainGray, .8 );
    }
  }


  .menu {
    color: @darkGray;

    > li {
      position: relative;
      font-size: 16px;
      font-weight: 500;
      z-index: 50;

      a {
        padding: 15px 0;
      }
    }

    li {

      &.open-sub-menu {
        border-bottom: 1px solid @mainGray;

        .mobile-menu-arrow-wrapper {

          .icon {
            transform: rotate(0);
          }
        }

        .sub-menu {
          display: block;
        }
      }
    }

    .mobile-menu-arrow-wrapper {
      position: absolute;
      top: 12px;
      right: 0;
      width: 45px;
      text-align: right;

      .icon {
        transform: rotate(90deg);
        transition: transform .3s;
      }
    }

    .sub-menu {
      display: none;
      padding-left: 25px;

      li {
        font-weight: 500;

        a {
          padding: 10px 45px 10px 0;


        }
      }
    }

    a {
      display: block;
      color: inherit;
    }
  }

}

.open-nav-menu {
  overflow: hidden;

  .mobile-menu {
    transform: translateX( 0 );
  }
}

@media( min-width: @md-size + 1 ) {

  .open-nav-menu {
    overflow: auto;

  }

  .mobile-menu,
  .nav-toggle {
    display: none;
  }

  .top-bar {

    .search-col {
      position: relative;

      .search-icon {
        position: relative;
        z-index: 100;
      }
    }

    &__search-input {
      position: absolute;
      display: block;
      width: 20px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: @white;
      border-radius: 5px;
      border: 1px solid #CFCED4;
      padding: 12px 45px 12px 4px;
      opacity: 0;
      transition: opacity .3s, width .3s .3s ease-in, padding .3s .4s;
      z-index: 80;
    }
  }

  .open-search-input {

    .top-bar {

      &__search-input {
        opacity: 1;
        width: 450px;
        padding-left: 15px;
      }
    }
  }

}


@media( max-width: @md-size ) {

  .nav-toggle {
    display: inline-block;
  }

  .site-top-navigation {
    display: none;
  }

  .top-bar {

    .search-col {
      display: none;
    }
  }
  .fixed {

    .top-bar {
      transition: auto;
      z-index: 1000;
    }
  }
}

@media( max-width: @xs-size ) {

  .nav-toggle {
    margin-right: 25px;
  }

  .site-top-logo {

    img {
      max-width: 148px;
    }
  }
}
