.products {
  margin-top: 35px;
}

.product {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  color: @white;

  &:visited {
    color: @white;
  }

  &__desc {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba( @blue, .95 );
    color: @white;
    padding: 15px 50px;
    opacity: 0;
    transition: all .3s;
  }

  &:hover {

    .product__desc {
      opacity: 1;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  &--long {

    .product__desc {
      padding: 15px 90px;
    }
  }
}

.grid-item {
  width: calc(33.333% - 16px);
  margin-bottom: 2%;
}

@media( max-width: @xl-size ) {

  .product {

    &--long {

      .product__desc {
        padding: 15px 45px;
      }
    }

    &__desc {
      padding: 15px 25px;
    }

    &__text {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }

  .more-btn {
    font-size: 16px;
    padding: 12px 5px;
  }
}

@media( max-width: @md-size ) {
  .grid-item {
    width: calc(50% - 12px);
    margin-bottom: 3.2%;
  }

  .product {


    &__text {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .more-btn {
    font-size: 14px;
    padding: 10px 5px;
  }
}

@media( max-width: @xs-size ) {
  .grid-item {
    width: auto;
    margin-bottom: 5%;
  }

  .product {

    &--long {

      .product__desc {
        padding: 15px 25px;
      }
    }
  }
}

@import 'product/_product-jumb.less';

// Product Montage
.montage {

  &__board,
  &__video-block {
    margin: 25px 0;
  }


  &__board {
    border-radius: 2px;
    background-color: @blue;
    color: @white;
    padding: 14px 16px 25px;

    [class^="col-"] {

      + [class^="col-"] {
        border-left: 1px dashed rgba( @white, .5 );
      }
    }

    &-title {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 30px;
    }



    .img-block {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 95px;
    }

    &-desc {
      font-size: 13px;
    }
  }

  &__steps {

    [class^="col-"]  {
      margin-bottom: 15px;
    }

    .step {
      font-size: 10px;
      color: rgba( @textGray, .5 );
      margin-bottom: 15px;
    }

    img {
      height: 60px;
    }

    .text {
      position: relative;
      top: -18px;
      font-size: 13px;
      color: @textGray;
      padding-left: 35px;
    }
  }

  &__video-block {
    position: relative;
  }

  &__video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

// Stickers
.stick-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 0;

  &:first-of-type {
    margin-top: 30px;
  }

  + .control-wrapper {
    margin-top: 40px;
  }

  strong {
    font-weight: 500;
  }

  &__img-wrapper {
    .colWidth( 56px );
  }

  &__total {
    .colWidth( 30px );
    margin: 0 15px 0 8px;
  }
}

@media( max-width: @xs-size ) {

  .stick-line {

    &__desc {
      width: 100%;
    }
  }
}

// More products
.more-products {
  font-size: 18px;
  font-weight: 500;

  [class^="col-"] {
    margin-top: 25px;
  }

  &__title {
    font-weight: inherit;
    margin: 15px 0 5px;
  }

  a {
    display: block;
  }

  img {
    border-radius: 2px;
  }

  p {
    color: @gray;

    .rub {
      font-weight: 400;
      padding-left: 3px;
    }
  }
}

@media( max-width: @xl-size ) {

  .montage {

    video {
      display: block;

      &[poster] {
        width: 100%;
      }
    }
  }
}

@media( max-width: @lg-size ) {

  .product {

    &-advantages {

      [class^="col-"] {
        .colWidth( 33.3333% );
      }
    }

    &-board-col {
      .colWidth( 100% );
    }
    &-board {
      max-width: none;
      min-height: auto;
      margin: 15px 0;
    }
  }

  .board-props {
    min-height: auto;
  }

  .montage {

    .col-6 {
      .colWidth( 100% );

      &:nth-child( 3 ) {
        border-color: rgba(@white, .5);
      }
    }

    video {
      max-height: 500px;
    }
  }
}

@media( max-width: @md-size ) {

  .more-products {

    [class^="col-"] {
      .colWidth( 50% );
    }
  }
}


@media( max-width: @sm-size ) {

  .product {

    &-advantages {

      [class^="col-"] {
        .colWidth( 50% );
      }
    }
  }

  .montage {

    &__board {

      [class^="col-"] {
        .colWidth( 50% );

        &:nth-child( 3 ) {
          border-color: transparent;
        }
      }
    }

    &__steps {

      [class^="col-"] {
        .colWidth( 50% );
      }
    }
  }
}

@media( max-width: @xs-size ) {


  .product {

    &__title {
      margin-bottom: 15px;
    }

    &-advantages {

      [class^="col-"] {
        .colWidth( 100% );
      }

      .title {
        margin: 15px 0 5px;
      }
    }
  }

  .more-products {

    [class^="col-"] {
      .colWidth( 100% );
    }
  }
}