.special-cards {

  &-wrapper {
    overflow: hidden;

    &__inner {
      margin: 0 -15px;
    }
  }

  &__arrow-nav {
    text-align: right;
    margin: 16px -15px;

    .next,
    .prev {
      margin: 0 15px;
      cursor: pointer;

      svg {

        path {
          transition: all .3s;
        }
      }

      &:hover {

        svg {

          path {
            fill: @titleGray;
          }
        }
      }
    }
  }

  .row {
    .flexWrap( nowrap );
  }

  .special-card {
    position: relative;
    max-width: 390px;
    color: @white;
    transition: width .3s;
    padding: 0;
    margin: 0 15px;


    &__discount {
      right: -95px;
      top: -25px;
      transform: rotate(45deg);
      background-color: #FF0000;
      width: 241px;
      max-width: none;
      text-align: center;
      padding: 40px 10px 20px;

      .text {
        width: 100%;
        font-size: 24px;
        font-weight: 500;
      }
    }

    &__inner {
      overflow: hidden;
      position: relative;
      transition: all .3s;

      &:visited {
        color: inherit;
      }
    }

    &__img {
      position: relative;
      display: inline-block;
      font-size: 0;
      box-shadow: -2px 4px 10px 0 rgba( @black, .25 );
    }

    &__title {
      margin: 20px 0 5px;
    }

    p {
      min-height: 40px;
      transition: opacity .3s .3s;

      &.show {
        display: block;
      }
    }
  }

}


.special-card {
  position: relative;
  color: @white;
  margin: 25px 0 15px;

  &__discount {
    position: absolute;
    top: 28px;
    right: 0;
    box-shadow: -4px 0 20px 0 rgba( @black, .15 );
    background-color: #FF5221;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 100%;
    max-width: 105px;
    font-size: 12px;
    color: inherit;
    padding: 5px 5px 5px 15px;
    z-index: 1;

    .text {
      width: 100%;
      font-size: 20px;
      font-weight: 500;
    }
  }

  &__inner {
    display: block;
    min-height: 480px;
    border-radius: 5px;
    color: inherit;
    padding: 80px 34px 40px;

    .block-title {
      color: inherit;
    }

    &:visited {
      color: inherit;
    }
  }

  &__title {
    min-height: 52px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    margin: 35px 0 15px;
  }

  p {
    min-height: 40px;
    margin-bottom: 20px;
  }

  .main-cost {
    font-size: 20px;
    font-weight: 500;
  }

  .old-cost {
    font-size: 14px;
    text-decoration: line-through;
  }
}

@media( min-width: @md-size + 1 ) and ( max-width: @xl-size ) {

  .special-cards {

    .special-card {

      &__title,
      &__cost-wrapper {
        min-width: 180px;
      }
    }
  }
}

@media( min-width: @md-size + 1 ) {

  .special-block {

    .special-cards-wrapper {
      margin-top: 50px;
    }
  }

  .special-cards {
    display: flex;
    margin: 0 -15px;

    &-wrapper {

      &__inner {
        margin: 0;
      }
    }

    &.owl-carousel {
      width: auto;
    }

    &__arrow-nav {
      display: none;
    }

    .special-card {
      max-width: none;
      width: calc( 100%/5 );
      overflow: hidden;
      padding: 0 15px;
      margin: 0;

      &__discount {
        left: 50%;
        right: auto;
        top: -18px;
        box-shadow: none;
        border-radius: 0;
        width: 241px;
        max-width: none;
        opacity: 0;
      }

      &__inner {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        overflow: hidden;
        padding: 50px 0 40px 40px;
      }

      &__img {
        position: relative;
        display: block;
        height: 186px;
        min-width: 175px;
        font-size: 0;
        box-shadow: -2px 4px 10px 0 rgba( @black, .25 );
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          max-width: none;
        }
      }

      p {
        min-width: 230px;
        visibility: hidden;
        opacity: 0;
      }

      &:hover {
        width: 394px;

        p {
          visibility: visible;
          opacity: 1;
        }

        .special-card__inner {
          border-radius: 5px;
          padding-right: 40px;
        }

        .special-card__discount {
          opacity: 1;
          transition: opacity .1s .3s;
        }
      }

    }
  }
}

@media( max-width: @lg-size ) {

  .more-special {

    [class^="col"] {
      .colWidth( 50% );
    }

    .special-card {

      &__inner {
        min-height: 400px;
        padding: 30px 30px 20px;
      }
    }
  }

}

@media( max-width: @xs-size ) {

  .more-special {

    [class^="col"] {
      .colWidth( 100% );
    }

    .special-card {

      &__inner {
        padding: 30px 30px 20px;
      }
    }
  }

  .special-card {
    max-width: 400px;

    &__title {
      min-height: auto;
    }

    &__inner {
      min-height: auto;
      padding: 30px 15px 20px;
    }
  }

  .special-cards {

    .special-card {

      &__inner {
        padding: 60px 40px 45px;
      }
    }
  }

}