.product {

  // Jumb
  &-jumb {
    position: relative;

    &-wrapper {
      min-height: inherit;
    }

    &__slide {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .main-container {
      position: relative;
      padding-right: 0;
      padding-left: 0;
    }

    &__main-info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      padding: 40px 0;
    }

    &__slider-arrows {
      position: absolute;
      width: 100%;
      max-width: 1310px;
      top: 0;
      left: 50%;
      height: 0;
      transform: translateX(-50%);
      z-index: 100;

      .prev,
      .next {
        position: absolute;
        top: 280px;
        height: 50px;
        cursor: pointer;
        z-index: 10000;

        svg {

          path {
            transition: all .3s;
          }
        }

        &:hover {

          svg {

            path {
              fill: @titleGray;
            }
          }
        }
      }

      .prev {
        left: 0;
      }

      .next {
        right: 0;
      }
    }

    &-thumb {
      display: flex;
      flex-wrap: wrap;

      li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 73px;
        height: 73px;
        background-color: @mainGray;
        cursor: pointer;

        + li {
          margin-left: 30px;
        }
      }

      &-col {
        align-self: flex-end;
      }

      .item {
        transition: all .3s;

        &.active {
          box-shadow: 0 4px 20px 0 rgba( @black, .3 );
        }
      }
    }
  }

  &-cost {
    font-size: 30px;
    margin: 25px 0 30px;

    strong {
      font-weight: 500;
    }
  }

  &-cart-btn {
    display: block;
    width: 100%;
    background-color: @blue;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 5px;
    color: @white;
    margin: 15px 0;

    &:visited {
      color: @white;
    }

    &:hover {
      opacity: .85;
    }
  }

  // Product board

  &-board {
    position: relative;
    max-width: 364px;
    min-height: 580px;
    background: #FEFEFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    padding: 25px 22px 20px;
    margin-left: auto;

    h1 {
      margin-bottom: 5px;
    }

    &-col {
      order: 2;
    }

    &__stock {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 10px;
      letter-spacing: .02em;
      color: darken(@mainGray, 20);
    }

    h1 {
      font-family: inherit;
      font-size: 24px;
    }

    &__desc {
      color: darken(@mainGray, 20);
      margin-bottom: 20px;
    }

    &__info {
      font-size: 10px;
    }
  }

  // Product cover

  &-cover {

    &__items {
      width: 100%;
      font-size: 0;
      margin-top: 15px;
      margin-bottom: 25px;

      li {

        + li {
          margin-left: 12px;
        }
      }
    }
  }

  // Main product desc
  &__title {
    margin-bottom: 30px;
  }

  &-main-desc {

    p {
      margin: 15px 0;
    }
  }

  // Advantages
  &-advantages {

    img {
      max-width: 72px;
    }

    .title {
      font-size: 18px;
      font-weight: 500;
      margin: 30px 0 15px;
    }

    [class^="col-"] {
      margin: 25px 0;
    }

    p {
      letter-spacing: .02em;
    }
  }
}

// Board
.board {

  &-props {
    min-height: 260px;
  }

  &-thumb-items {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;

    img {
      border-radius: 3px;
    }

    &:after {
      .pseudo();
      top: 50%;
      left: 50%;
      border-radius: inherit;
      border: 1px solid @blue;
      transform: translate( -50%, -50%);
      width: calc( 100% + 6px );
      height: calc( 100% + 6px );
      opacity: 0;
      transition: all .3s;
      z-index: -1;
    }

    &.active {

      &:after {
        opacity: 1;
      }
    }
  }
}

.control-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px 0;

  strong {
    font-weight: 500;
  }

  span {
    vertical-align: middle;
  }
}

.control-name {
  color: @textGray;
  padding-right: 10px;

  strong {
    font-weight: 500;
  }
}

.control-color-picker {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  margin: -5px 0;

  &-wrapper {
    margin: 15px 0;
  }

  .control-name {
    min-height: 40px;
    margin: 5px 0;
  }
}

@media( min-width: @sm-size + 1 ) and ( max-width: @lg-size ) {
  .control-color-picker {
    height: 150px;
  }
}

.control-desc {
  color: darken(@mainGray, 20);
}

// Total card control
.number {

  &-control {
    width: 100%;
    max-width: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @mainGray;
    border-radius: 20px;
    padding: 4px;

    .minus,
    .plus {
      user-select: none;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: @white;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      line-height: 32px;
      color: rgba( @blue, .4 );
      cursor: pointer;
      transition: all .3s;

      &:hover,
      &:focus {
        color: @blue;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 10px 20px rgba(0, 0, 0, 0.04);
      }
    }

    &--color {

      .total {
        color: @white;

      }

      .minus,
      .plus {
        background-color: rgba( @white, .15 );
        color: rgba( @white, .4 );

        &:hover,
        &:focus {
          background-color: rgba( @white, .05 );
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 10px 20px rgba(0, 0, 0, 0.04);
          color: @white;
        }
      }
    }

    .total {
      width: 25%;
      border: none;
      background: transparent;
      box-shadow: none;
      outline: none;
      padding: 5px 0;
      text-align: center;
    }
  }

  &-preset {
    font-size: 0;
    margin: 6px 0;

    li {
      user-select: none;
      background-color: @mainGray;
      border-radius: 2px;
      font-size: .85rem;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      transition: all .3s;

      + li {
        margin-left: 12px;

      }
      &.active {
        background-color: @blue;
        color: @white;
      }
    }
  }
}

@media( max-width: @lg-size ) {

  .product {

    &-jumb {

      &__main-info {
        position: relative;
        padding: 0;
        margin-top: -15em;
      }

      &-thumb-col {
        .colWidth( 100% );
      }

      &-thumb-col {
        margin: 15px 0;
      }

      &-thumb {
        justify-content: center;
      }
    }
  }
}

@media( max-width: @sm-size ) {

  .product {

    &-jumb {
      min-height: auto;

      &-wrapper {
        height: 400px!important;
      }

      &__slider-arrows {

        .next,
        .prev {
          top: 180px;
        }
      }

      &__main-info {
        position: relative;
        padding: 0;
        margin-top: 15px;
      }

      &-thumb-col {
        .colWidth( 100% );
      }

      &-thumb-col {
        margin: 15px 0;
      }

      &-thumb {
        justify-content: space-between;

        li {
          width: 55px;
          height: 55px;

          + li {
            margin-left: auto;
          }
        }
      }
    }
  }
}