//- Contact Form
.contact-form-popup.js-contactsPopup.main-font
  button.contact-form__close-popup.js-closePopup
    i.icon.close-icon-white
  .contact-form
    .row
      .col-6
        h5.contact-form__title Наши контакты

        .site-phone.contact-form__item
          a(href="tel: +79005678954")
            i.icon.phone-icon-white(aria-hidden="true")
            | + 7 900 567 89 54
        .site-email.contact-form__item
          a(href="mailto: Magniclick@gmail.ru")
            i.icon.mail-icon-white(aria-hidden="true")
            | Magniclick@gmail.ru
        .social-block.contact-form__item
          a.social-link(href="#")
            i.icon.viber-icon-white(aria-hidden="true")
          a.social-link(href="#")
            i.icon.telegram-icon-white(aria-hidden="true")
          a.social-link(href="#")
            i.icon.whatsapp-icon-white(aria-hidden="true")
          a(href="tel: +79005678954")
            | + 7 900 567 89 54
        .site-time.contact-form__item
          i.icon.clock-icon-white(aria-hidden="true")
          span 9.00 — 18.00

      .col-6
        h5.contact-form__title Оставьте контакты для связи
        //- Form
        .white-form
          form(action="#" method="POST")
            span.form-info
              | *. Поля являются обязательными для заполнения
            input(type="text" placeholder="Как к вам обращаться?")
            input(type="tel" placeholder="Телефон *" required)
            input(type="mail" placeholder="E-mail *" required)
            .custom-checkbox.private-policy
              input(type="checkbox" id="main-contact-form-private-policy")
              label(for="main-contact-form-private-policy") Компания Magniclick будет обрабатывать ваши персональные данные в&nbsp;соответствии с&nbsp;#[a(href="#") Политикой конфиденциальности]
            button(type="submit").btn.form-btn
              | Связаться со мной