.mobile-menu.js-mobileMenu

  .mobile-menu-inner

    .mobile-menu-search.search-col
      i.icon.search-icon
      input.search-input(type="search" placeholder="Поиск")

    nav.site-mobile-navigation
      ul.menu
        li
          a(href="about-us.html") О нас
        li.has-children
          a(href="#") Продукты
          span.mobile-menu-arrow-wrapper
            i.icon.mobile-menu-arrow-icon
          ul.sub-menu
            li
              a(href="product_1.html") Модульная доска
            li
              a(href="product_2.html") Маркерный планшет
            li
              a(href="product_3.html") Магнитные стикеры
            li
              a(href="#") Маркерный магнит
            li
              a(href="#") Многоразовые стикеры
        li.has-children
          a(href="#") Для кого
          span.mobile-menu-arrow-wrapper
            i.icon.mobile-menu-arrow-icon
          ul.sub-menu
            li
              a(href="#") Планируйте! Организуйте! Создавайте!
            li
              a(href="#") Обучение
            li
              a(href="#") Работа из дома
            li
              a(href="#") Рабочее место
        li.js-openContacts
          a(href="#contacts") Контакты