.more-special
  .row
    .col-3
      .special-card
        a.special-card__inner(href="#" style="background-color: #B94599;")
          .special-card__discount
            span Выгода
            span.text 1500 #[span.rub &#8381;]
          .special-card__info
            span.special-card__info-text
          .special-card__img.img-block
            img(src="img/special-block-board.jpg", alt="")
          h6.block-title.special-card__title Brainstorm
          p.desc 9&nbsp;модулей, 10&nbsp;планшетов, 48&nbsp;стикеров
          .special-card__cost-wrapper
            span.main-cost 12 000
              span.rub &#8381;
            .old-cost 13 500
              span.rub &#8381;
    .col-3
      .special-card
        a.special-card__inner(href="#" style="background-color: #6B7C8D;")
          .special-card__discount
            span Выгода
            span.text 1500 #[span.rub &#8381;]
          .special-card__info
            span.special-card__info-text
          .special-card__img.img-block
            img(src="img/special-block-board.jpg", alt="")
          h6.block-title.special-card__title Freelancer
          p.desc Подставка 1, Планшет 1, стикер 6
          .special-card__cost-wrapper
            span.main-cost 12 000
              span.rub &#8381;
            .old-cost 13 500
              span.rub &#8381;
    .col-3
      .special-card
        a.special-card__inner(href="#" style="background-color: #575568;")
          .special-card__discount
            span Выгода
            span.text 1500 #[span.rub &#8381;]
          .special-card__info
            span.special-card__info-text
          .special-card__img.img-block
            img(src="img/special-block-board.jpg", alt="")
          h6.block-title.special-card__title Scrum #[br] Команда
          p.desc 16 модулей с&nbsp;нанесением скрама, 48&nbsp;стикеров
          .special-card__cost-wrapper
            span.main-cost 12 000
              span.rub &#8381;
            .old-cost 13 500
              span.rub &#8381;
    .col-3
      .special-card
        a.special-card__inner(href="#" style="background-color: #5A529C;")
          .special-card__discount
            span Выгода
            span.text 1500 #[span.rub &#8381;]
          .special-card__info
            span.special-card__info-text
          .special-card__img.img-block
            img(src="img/special-block-board.jpg", alt="")
          h6.block-title.special-card__title Домашнее обучение
          p.desc Планшет&nbsp;1, мини 25&nbsp;шт
          .special-card__cost-wrapper
            span.main-cost 12 000
              span.rub &#8381;
            .old-cost 13 500
              span.rub &#8381;