.top-bar.js-topBar.main-font
  .main-container
    .row.align-items-center
      .col
        button.nav-toggle.js-navToggle
          span
          span
          span
        a.site-top-logo(href="/" title="Site Name")
          img(src="img/main-logo.svg" alt="Site Logo")
      .col.nav-col
        .row.align-items-center
          .col
            nav.site-top-navigation
              ul.menu
                li
                  a(href="about-us.html") О нас
                li.has-children
                  a(href="#") Продукты
                  ul.sub-menu
                    li
                      a(href="product_1.html") Модульная доска
                    li
                      a(href="product_2.html") Маркерный планшет
                    li
                      a(href="product_3.html") Магнитные стикеры
                    li
                      a(href="#") Маркерный магнит
                    li
                      a(href="#") Многоразовые стикеры
                li.has-children
                  a(href="#") Для кого
                  ul.sub-menu
                    li
                      a(href="page.html") Планируйте! Организуйте! Создавайте!
                    li
                      a(href="#") Обучение
                    li
                      a(href="#") Работа из дома
                    li
                      a(href="#") Рабочее место
                li.js-openContacts
                  a(href="#contacts") Контакты
          .col.search-col
            form(action="#" method="POST")
              i.icon.search-icon.js-topBarSearch
              input.search-input.top-bar__search-input(type="search")
          .col
            a(href="cart.html").cart
              i.icon.cart-icon
              span.cart-total 1

include _mobile-menu.pug
