.products.main-font
  .ms-grid.js-msGrid
    //- .gutter-sizer
    .item.grid-item
      .product.product--long
        .product__desc
          span.product__text Магнитные/пробковые панели
          a.btn.more-btn(href="#") Подробнее
        .img-block
          img(src="img/product-1.jpg", alt="")

    .item.grid-item
      .product
        .product__desc
          span.product__text Магнитные/пробковые панели
          a.btn.more-btn(href="#") Подробнее
        .img-block
          img(src="img/product-2.jpg", alt="")

    .item.grid-item
      .product
        .product__desc
          span.product__text Магнитные/пробковые панели
          a.btn.more-btn(href="#") Подробнее
        .img-block
          img(src="img/product-3.jpg", alt="")

    .item.grid-item
      .product
        .product__desc
          span.product__text Магнитные/пробковые панели
          a.btn.more-btn(href="#") Подробнее
        .img-block
          img(src="img/product-4.jpg", alt="")

    .item.grid-item
      .product
        .product__desc
          span.product__text Магнитные/пробковые панели
          a.btn.more-btn(href="#") Подробнее
        .img-block
          img(src="img/product-5.jpg", alt="")