body {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  font-family: Arial, sans-serif;
  line-height: 30px;
}

a {
  text-decoration: none;
}

button,
.btn {
  display: inline-block;
}

.hidden,
[hidden] {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  font-weight: 400;
  clip-path: inset(100%);
}