@xs-size: 480px;
@sm-size: 576px;
@md-size: 767px;
@lg-size: 991px;
@xl-size: 1170px;
@wrapper-paddings: 15px;

.container-fluid {
  max-width: 1920px;
  min-width: 320px;
  overflow: hidden;
}

.container {
  max-width: @xl-size;
  padding-right: @wrapper-paddings;
  padding-left: @wrapper-paddings;
}

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.row {
  .flex();
  .flexWrap();
  margin-right: -15px;
  margin-left: -15px;
}

.rowNoMrg();

.cols();

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}