.main-font {
  font-family: @mainFont;
}
.second-font {
  font-family: @titleFont;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: @textGray;
}

.main-container {
  max-width: 1310px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a,
.btn {
  .transition();
}

.btn {
  text-align: center;
  cursor: pointer;
}

a,
a:visited {
  color: unset;
}

button {
  background-color: transparent;
  outline: none;
  border: none;

  &[disabled] {
    opacity: .3;
    cursor: unset;
  }
}


span {
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

// Main title properties
.block-title,
h1 {
  font-family: @titleFont;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.block-title {
  color: @titleGray;
  margin-bottom: 15px;

  &-md {
    font-size: 24px;
  }
}

.block-title-desc {
  margin: 15px 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

// Titles
h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

.sec {
  margin: 90px 0;
}

.text-center {
  text-align: center;
}

// Input params
input[type="text"],
input[type="tel"],
input[type="mail"],
textarea {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  line-height: 1;
  padding: 10px 14px;
}

// Russian rub
.rub {
  font-size: .85em;
}


// Image block reset img inline-block padding
.img-block {
  font-size: 0;
  line-height: 0;
}

// Custom checkbox
.custom-checkbox {

  &.private-policy {

    input {
      position: absolute;
      top: -9999px;
      left: -9999px;
      width: 1px;
      height: 1px;
      visibility: hidden;
      clip: rect( 0, 0, 0, 0);
      opacity: 0;
      padding: 0;
      margin: 0;

      + label {
        position: relative;
        display: inline-block;
        font-family: inherit;
        font-size: 10px;
        color: inherit;
        line-height: 1.2;
        .userSelect();
        cursor: pointer;
        padding-left: 30px;

        a {
          border-bottom-width: 1px;
          border-bottom-style: solid;

          &:hover {
            border-color: transparent;
          }
        }

        &:before,
        &:after {
          .pseudo();
        }

        &:before {
          top: 4px;
          left: 0;
          border: 1px solid transparent;
          border-radius: 2px;
          background-color: #B7B6BE;
          width: 16px;
          height: 16px;
          font-size: 16px;
          font-weight: 500;
          color: inherit;
          transition: all .3s;
        }

        &:after {
          top: 10px;
          left: 5px;
          background: url( '../img/check.svg' ) center no-repeat;
          width: 9px;
          height: 7px;
          opacity: 0;
        }

        &:hover {

          &:before {
            border: 1px solid @pink;
          }
        }
      }

      &:checked {

        + label {

          &:before {
            background-color: @pink;
          }

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}

.white-form {

  input[type="text"],
  input[type="tel"],
  input[type="mail"],
  textarea {
    display: block;
    width: 100%;
    border-color: rgba(@white, .5);
    background-color: transparent;
    color: @white;
    margin-top: 10px;
    transition: all .2s;

    .placeholder( rgba( @white, .5 ) );

    &:focus {
      outline: none;
      box-shadow: 0 0 4px 0 rgba( @white, .7 );
    }
  }
}

.form-btn,
button[type="submit"] {
  position: relative;
  width: 100%;
  background-color: #241D60;
  font-size: 13px;
  font-weight: 500;
  color: @white;
  padding: 14px 12px;

  .arrow-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #221C54;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: all .3s;
  }

  &:hover {
    background-color: darken(#241D60, 5);
  }
}

.form-info {
  font-size: 12px;
  margin: 16px 0;
}

// Icons
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mobile-menu-arrow-icon {
  background-image: url( '../img/arrow-more.svg' );
  width: 4px;
  height: 8px;
} 

.inst-icon {
  background-image: url( '../img/inst-icon.svg' );
  width: 40px;
  height: 40px;
}

.search-icon {
  background-image: url('../img/Search.svg');
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.viber-icon-white {
  background-image: url( '../img/viber-icon-white.svg' );
  width: 14px;
  height: 15px;
}
.telegram-icon-white {
  background-image: url( '../img/telegram-icon-white.svg' );
  width: 18px;
  height: 16px;
}
.whatsapp-icon-white {
  background-image: url( '../img/whatsapp-icon-white.svg' );
  width: 15px;
  height: 15px;
}

.phone-icon-white {
  background-image: url( '../img/phone-icon-white.svg' );
  width: 13px;
  height: 13px;
}

.mail-icon-white {
  background-image: url( '../img/mail-icon-white.svg' );
  width: 16px;
  height: 16px;
}

.clock-icon-white {
  background-image: url( '../img/clock-icon-white.svg' );
  width: 13px;
  height: 13px;
}

.form-submit-arrow-white {
  background-image: url( '../img/form-submit-arrow-white.svg' );
  width: 12px;
  height: 12px;
}

.team-icon-white {

  img {
    width: 72px;
    height: 48px;
  }
}

.study-icon-white {

  img {
    width: 46px;
    height: 48px;
  }
}

.home-icon-white {

  img {
    width: 40px;
    height: 48px;
  }
}

.workplace-icon-white {

  img {
    width: 45px;
    height: 48px;
  }
}

.close-icon-white {
  background-image: url( '../img/close-icon-white.svg' );
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.yt-play-icon {
  width: 72px;
  height: 72px;

  img {

    &:last-of-type {
      display: none;
    }
  }

  &:hover {

    img {

      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        display: block;
      }
    }
  }
}

.like-icon {
  background-image: url( '../img/like-icon.svg' );
  width: 20px;
  height: 17px;
}

.video-play-icon {
  background-image: url( '../img/montage/video-play-icon.svg' );
  width: 72px;
  height: 72px;
  cursor: pointer;
}


// Cart
.cart {
  display: block;
  position: relative;

  &-icon {
    background-image: url('../img/ShoppingBasket.svg');
    width: 19px;
    height: 20px;
  }

  &-total {
    position: absolute;
    top: -50%;
    right: -50%;
    border-radius: 50%;
    background-color: @blue;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: @white;
  }
}

// Buttons
.more-btn {
  width: 100%;
  max-width: 185px;
  border: 1px solid @white;
  font-size: 18px;
  font-weight: 500;
  color: @white;
  padding: 14px 5px;
  margin: 10px 0;

  &:hover {
    background-color: @white;
    color: @textGray;
  }

  &:active,
  &:focus {
    border: 1px solid @white;
  }

  &:focus {
    box-shadow: 0 0 2px 0 rgba( @blue, .3 );
  }
}

// JUMBOTRON

.jumb {
  min-height: 660px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--main-page {
    background-color: @mainGray;
    background-position: right top;
    background-size: unset;

    h1 {
      position: relative;
      margin-top: 65px;
      margin-bottom: 70px;

      &:after {
        .pseudo();
        bottom: -30px;
        left: 0;
        background-color: @gray;
        width: 170px;
        height: 1px;
      }
    }

    &__desc {
      max-width: 388px;

      p {
        letter-spacing: .02em;
        margin: 25px 0;
      }
    }

    &__content-wrapper {
      min-height: 660px;
      display: flex;
      flex-wrap: wrap;
    }

    &__bottom-thumb {
      margin-top: auto;

      > .row {

        .col-2 {
          align-self: center;
        }
      }
    }
  }
}

// Page
.page-jumb {
  position: relative;
  padding: 40px 0;
  z-index: 1;

  &:before {
    .pseudo();
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( @white, .6 );
    z-index: -1;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: inherit;
  }

  &__overtitle {
    font-size: 24px;
    font-weight: 500;
    color: @titleGray;
    margin-bottom: 45px;
  }

  h1 {
    line-height: 1.3;
    color: @titleGray;
  }

}


// Main Page

.main-page {

  &__thumb-list {
    display: flex;
    flex-wrap: wrap;
    background-color: @blue;
    font-size: 18px;
    color: @white;
    padding: 35px 5em 45px;

    li {
      width: 25%;
      padding: 0 35px 0 50px;

      .team-icon-white,
      .study-icon-white,
      .home-icon-white,
      .workplace-icon-white  {

        img {

          &:last-of-type {
            display: none;
          }
        }
      }

      &:hover {

        img {

          &:first-of-type {
            display: none;
          }

          &:last-of-type {
            display: block;
          }
        }
      }


      + li {
        border-left: 1px solid @white;
      }

      span {
        width: 100%;
        margin-top: 10px;
      }
    }

    a {
      display: inline-block;
    }
    a,
    a:visited {
      color: inherit;
    }
  }
}

// About Us
.about-us {

  .main-container {
    position: relative;
    padding-top: 20px;
  }

  &-page {
    background-color: @mainGray;
  }

  &__img-container {

    img {
      position: absolute;
      top: 0;
      border-radius: 8px;
      z-index: 1;

      &:first-of-type {
        top: 4%;
        right: 50%;
      }

      &:nth-child(2) {
        top: 25%;
        right: 28%;
      }

      &:nth-child(3) {
        top: 16%;
        right: 9%;
      }

      &:nth-child(4) {
        top: 54%;
        right: 35%;
      }

      &:last-of-type {
        top: 39%;
        right: 0;
      }
    }
  }

  &__main-desc {
    position: relative;
    max-width: 386px;
    padding: 7em 0 12em;
    z-index: 5;

    p {
      font-weight: 100;
      line-height: 1.6;
      color: @textGray;
      margin: 4.5em 0;
    }
  }
}

.postulat {
  margin: 15px 0;

  img {

    + img {
      margin-left: 15px;
    }
  }
}

@media( max-width: @xl-size ) {

  .about-us {

    &__img-container {

      img {
        opacity: .8;
      }
    }
  }
}

@media( max-width: @md-size ) {

  .about-us {

    &__main-desc {
      max-width: 560px;
      padding: 0 0 2em;
    }

    &__img-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      margin: 0 -15px;

      img {
        position: static;
        margin: 15px;
      }
    }
  }
}

@media( max-width: @xs-size ) {

  .postulat {

    img {
      max-width: 65px;
    }
  }

  .about-us {

    &__main-desc {

      p {
        margin: 1.5em 0 3.5em;
      }
    }

    &__img-container {
      justify-content: center;
    }
  }
}


@media( max-width: @xl-size ) {

  .jumb {

    &--main-page {
      background-position: left 30em top;

      &__bottom-thumb {
        margin-top: auto;

        > .row {

          .col-2 {
            .colWidth( 100% );
            margin: 25px 0;
          }

          .col-10 {
            .colWidth( 100% );
          }
        }
      }
    }
  }
}

@media( max-width: @lg-size ) {

  .main-page {

    &__thumb-list {
      padding: 35px 2.5em 45px;

      li {
        padding: 0 35px;
      }
    }
  }
}

@media( max-width: @md-size ) {

  .main-page {

    &__thumb-list {
      padding: 20px 2.5em 30px;

      li {
        width: 50%;
        text-align: center;
        margin: 15px 0;

        &:nth-child(3) {
          border-left: none;
        }
      }
    }
  }
}

@media( max-width: @xs-size ) {

  h1 {
    font-size: 36px;
  }

  .jumb {

    &--main-page {

      h1 {
        margin-top: 35px;
      }
    }
  }

  .main-page {

    &__thumb-list {
      padding: 20px 1.5em 30px;

      li {
        width: 100%;
        border-left: none;
        padding: 25px 15px;
        margin: 0;

        + li {
          position: relative;

          &:after {
            .pseudo();
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: @white;
            width: 120px;
            height: 1px;
          }
        }

        &:nth-child(2),
        &:last-of-type {
          border-left: none;
        }
      }
    }
  }
}

// Special block
.special-block {
  background-color: @secGray;
  padding: 65px 0 45px;
}

.desc-line {
  margin: 25px 0 65px;

  [class^="col-"] {
    margin: 15px 0;
  }
}

// Widget Social Slider
.widget-social {
  overflow: hidden;
}

.widget-social-slider {

  &-wrapper {
    margin: 0 -12px;
  }

  li{
    margin: 0 12px;
  }
}

.widget-social {
  font-size: 14px;
  padding-bottom: 1em;

  &__img-block {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    color: @white;

    &:hover {

      .widget-social__link-block {
        opacity: 1;
      }
    }
  }

  &__link-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( @blue, .95 );
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .3s;

    .btn {
      max-width: 140px;
      margin-top: 32px;
    }
  }

  &__item {
    max-width: 267px;
    margin: 0 auto;
  }

  &__likes {
    margin: 40px 0 25px;

    &-count {
      padding-left: 10px;
    }
  }

  &__title {
    color: @titleGray;
    margin: 10px 0;
  }

  &__slider-nav {
    text-align: right;
    margin: 16px -15px;

    .prev,
    .next {
      margin: 0 15px;
      cursor: pointer;

      svg {

        path {
          transition: all .3s;
        }
      }

      &:hover,
      &:focus {

        svg {

          path {
            fill: @titleGray;
          }
        }
      }
    }
  }
}

@media( max-width: @xs-size ) {
  .sec {
    margin: 35px 0;
  }

  .block-title {

    &-md {
      font-size: 22px;
    }
  }
}

// Other site components
@import 'components/_navigation.less';
@import 'components/_product-board.less';
@import 'components/_more-thumb.less';
@import 'components/_special-card.less';
@import 'components/_products.less';
@import 'components/_cart-page.less';
@import 'components/_footer.less';

// Main Contacts
.contact-form {
  width: 100%;
  font-size: 13px;
  max-width: 590px;

  &-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba( @blue, .95 );
    color: @white;
    opacity: 0;
    z-index: -10;
    transition: opacity .3s;
    padding: 8em 15px 40px;
  }

  &__close-popup {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 35px;
  }

  &__item {

    + .contact-form__item {
      margin-top: 20px;

      .icon,
      .icon + span {
        vertical-align: middle;
      }

      .icon {
        margin-right: 10px;
      }
    }
  }

  .form-info {
    margin-top: 0;
  }

  .private-policy {
    margin: 15px 0 30px;
  }
}

.open-contact-popup {
  overflow: hidden;

  .contact-form {

    &-popup {
      visibility: visible;
      opacity: 1;
      z-index: 100000;
    }
  }
}

@media( max-width: @md-size ) {

  .page-jumb {

    &__overtitle {
      font-size: 20px;
      margin-bottom: 25px;
    }
  }

  h1 {
    font-size: 36px;
  }

  .jumb {
    min-height: 400px;
  }
}

@media( max-width: @sm-size ) {

  h1 {
    font-size: 32px;
  }

  .desc-line {
    margin: 20px 0 55px;

    [class^="col-"] {
      .colWidth( 100% );
    }
  }
}

@media( max-width: @xs-size ) {

  .contact-form {

    &-popup {
      overflow-y: auto;
    }

    .col-6 {
      .colWidth( 100% );

      + .col-6 {
        margin-top: 55px;
      }
    }
  }

}