// Fonts
@titleFont: 'Merriweather';
@mainFont: 'Montserrat';


// Colors
@darkGray: #27243D;
@titleGray: #3F3D52;
@mainGray: #E7E7E9;
@textGray: #575568;
@secGray: #fbfbfb;

@black: #1E242B;
@white: #FFF;
@pink: #B94599;
@blue: #312783;
@gray: #9F9EA9;
@red: #FF003D;

@pinkGray: #878593;
@graySlate: #6B7C8D;
@blueGray: #575568;
@purpleGray: #5A529C;