/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1;
  /* 1 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline: none;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.container-fluid {
  max-width: 1920px;
  min-width: 320px;
  overflow: hidden;
}
.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}
.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row-no-mrg {
  margin: 0;
}
.row-no-mrg .col {
  padding-right: 0;
  padding-left: 0;
}
[class^=col] {
  min-height: 1px;
  word-wrap: break-word;
  padding-right: 15px;
  padding-left: 15px;
}
.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333333%;
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}
.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66666667%;
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66666667%;
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}
.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333333%;
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66666667%;
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}
.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333333%;
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}
.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66666667%;
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.flex-wrap {
  -webkit-box-pack: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.align-self-center {
  -ms-flex-item-align: center;
      align-self: center;
}
/*body {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  font-family: Arial, sans-serif;
  line-height: 30px;
}*/
a {
  text-decoration: none;
}
button,
.btn {
  display: inline-block;
}
.hidden,
[hidden] {
  display: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  font-weight: 400;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.main-font {
  font-family: 'Montserrat';
}
.second-font {
  font-family: 'Merriweather';
}
/*body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}*/
.main-container {
  max-width: 1310px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
a,
.btn {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn {
  text-align: center;
  cursor: pointer;
}
a,
a:visited {
  color: unset;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
}
button[disabled] {
  opacity: 0.3;
  cursor: unset;
}
span {
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.block-title,
h1 {
  font-family: 'Merriweather';
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.block-title {
  color: #3F3D52;
  margin-bottom: 15px;
}
.block-title-md {
  font-size: 24px;
}
.block-title-desc {
  margin: 15px 0;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin: 1em 0 .5em;
}
.sec {
  margin: 90px 0;
}
.text-center {
  text-align: center;
}
.main-content {
  min-height: calc( 100vh - 450px );
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  line-height: 1;
  padding: 10px 14px;
}
.rub {
  font-size: 0.85em;
}
.img-block {
  font-size: 0;
  line-height: 0;
}
.fancybox-slide {
  padding: 45px 15px 0;
}
.custom-checkbox.private-policy input {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
  padding: 0;
  margin: 0;
}
.custom-checkbox.private-policy input + label {
  position: relative;
  display: inline-block;
  font-family: inherit;
  font-size: 10px;
  color: inherit;
  line-height: 1.2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-left: 30px;
}
.custom-checkbox.private-policy input + label a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.custom-checkbox.private-policy input + label a:hover {
  border-color: transparent;
}
.custom-checkbox.private-policy input + label:before,
.custom-checkbox.private-policy input + label:after {
  position: absolute;
  content: '';
  display: block;
}
.custom-checkbox.private-policy input + label:before {
  top: 4px;
  left: 0;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #B7B6BE;
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.custom-checkbox.private-policy input + label:after {
  top: 10px;
  left: 5px;
  background: url('../img/check.svg') center no-repeat;
  width: 9px;
  height: 7px;
  opacity: 0;
}
.custom-checkbox.private-policy input + label:hover:before {
  border: 1px solid #B94599;
}
.custom-checkbox.private-policy input:checked + label:before {
  background-color: #B94599;
}
.custom-checkbox.private-policy input:checked + label:after {
  opacity: 1;
}
.white-form input[type="text"],
.white-form input[type="tel"],
.white-form input[type="email"],
.white-form textarea {
  display: block;
  width: 100%;
  border-color: rgba(255, 255, 255, .5);
  background-color: transparent;
  color: #FFF;
  margin-top: 12px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.white-form textarea {
  resize: none;
  height: 130px;
}
.white-form input[type="text"]::-webkit-input-placeholder,
.white-form input[type="tel"]::-webkit-input-placeholder,
.white-form input[type="email"]::-webkit-input-placeholder,
.white-form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .5);
}
.white-form input[type="text"]::-moz-placeholder,
.white-form input[type="tel"]::-moz-placeholder,
.white-form input[type="email"]::-moz-placeholder,
.white-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, .5);
}
.white-form input[type="text"]:-ms-input-placeholder,
.white-form input[type="tel"]:-ms-input-placeholder,
.white-form input[type="email"]:-ms-input-placeholder,
.white-form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, .5);
}
.white-form input[type="text"]:-moz-placeholder,
.white-form input[type="tel"]:-moz-placeholder,
.white-form input[type="email"]:-moz-placeholder,
.white-form textarea:-moz-placeholder {
  color: rgba(255, 255, 255, .5);
}
.white-form input[type="text"]::-placeholder,
.white-form input[type="tel"]::-placeholder,
.white-form input[type="email"]::-placeholder,
.white-form textarea::-placeholder {
  color: rgba(255, 255, 255, .5);
}
.white-form input[type="text"]:focus,
.white-form input[type="tel"]:focus,
.white-form input[type="email"]:focus,
.white-form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 4px 0 rgba(255, 255, 255, .7);
          box-shadow: 0 0 4px 0 rgba(255, 255, 255, .7);
}
.white-form div.wpcf7 .ajax-loader {
  position: absolute;
  right: 0;
  z-index: 1;
}
.white-form .wpcf7-response-output {
  top: 101%;
  margin: 0;
}
.form-btn,
button[type="submit"] {
  position: relative;
  width: 100%;
  background-color: #241D60;
  font-size: 13px;
  font-weight: 500;
  color: #FFF;
  padding: 14px 12px;
}
.form-btn .arrow-wrapper,
button[type="submit"] .arrow-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #221C54;
  width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form-btn:hover,
button[type="submit"]:hover {
  background-color: #1d174c;
}
.form-info {
  font-size: 12px;
  margin: 16px 0;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mobile-menu-arrow-icon {
  background-image: url('../img/arrow-more.svg');
  width: 4px;
  height: 8px;
}
.inst-icon {
  background-image: url('../img/inst-icon.svg');
  width: 40px;
  height: 40px;
}
.search-icon {
  background-image: url('../img/Search.svg');
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.search-icon input {
  width: 100%;
  opacity: 0;
}
.viber-icon-white {
  background-image: url('../img/viber-icon-white.svg');
  width: 14px;
  height: 15px;
}
.telegram-icon-white {
  background-image: url('../img/telegram-icon-white.svg');
  width: 18px;
  height: 16px;
}
.whatsapp-icon-white {
  background-image: url('../img/whatsapp-icon-white.svg');
  width: 15px;
  height: 15px;
}
.phone-icon-white {
  background-image: url('../img/phone-icon-white.svg');
  width: 13px;
  height: 13px;
}
.mail-icon-white {
  background-image: url('../img/mail-icon-white.svg');
  width: 16px;
  height: 16px;
}
.clock-icon-white {
  background-image: url('../img/clock-icon-white.svg');
  width: 13px;
  height: 13px;
}
.form-submit-arrow-white {
  background-image: url('../img/form-submit-arrow-white.svg');
  width: 12px;
  height: 12px;
}
.team-icon-white img {
  width: 72px;
  height: 48px;
}
.study-icon-white img {
  width: 46px;
  height: 48px;
}
.home-icon-white img {
  width: 40px;
  height: 48px;
}
.workplace-icon-white img {
  width: 45px;
  height: 48px;
}
.close-icon-white {
  background-image: url('../img/close-icon-white.svg');
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.yt-play-icon {
  display: block;
  border-radius: 100%;
  width: 72px;
  height: 72px;
}
.yt-play-icon img {
  border-radius: 50%;
}

.yt-play-icon img:last-of-type {
  display: none;
}
.yt-play-icon:hover img:first-of-type {
  display: none;
}
.yt-play-icon:hover img:last-of-type {
  display: block;
}
.like-icon {
  background-image: url('../img/like-icon.svg');
  width: 20px;
  height: 17px;
}
.video-play-icon {
  background-image: url('../img/montage/video-play-icon.svg');
  width: 72px;
  height: 72px;
  cursor: pointer;
}
.cart {
  display: block;
  position: relative;
}
.empty-cart .cart-total {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.cart-icon {
  background-image: url('../img/ShoppingBasket.svg');
  width: 19px;
  height: 20px;
}
.cart-total {
  position: absolute;
  top: -50%;
  right: -50%;
  border-radius: 50%;
  background-color: #312783;
  width: 20px;
  height: 20px;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  color: #FFF;
  z-index: 1;
}
.more-btn {
  width: 100%;
  max-width: 185px;
  border: 1px solid #FFF;
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  padding: 14px 5px;
  margin: 10px 0;
}
.more-btn:hover {
  background-color: #FFF;
  color: #575568;
}
.more-btn:active,
.more-btn:focus {
  border: 1px solid #FFF;
}
.more-btn:focus {
  -webkit-box-shadow: 0 0 2px 0 rgba(49, 39, 131, .3);
          box-shadow: 0 0 2px 0 rgba(49, 39, 131, .3);
}
.jumb {
  background-color: #ccc;
  min-height: 660px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.jumb--main-page {
  background-color: #E7E7E9;
  background-position: right top;
  background-size: unset;
}
.jumb--main-page h1 {
  position: relative;
  margin-top: 65px;
  margin-bottom: 70px;
}
.jumb--main-page h1:after {
  position: absolute;
  content: '';
  display: block;
  bottom: -30px;
  left: 0;
  background-color: #9F9EA9;
  width: 170px;
  height: 1px;
}
.jumb--main-page__desc {
  max-width: 388px;
}
.jumb--main-page__desc p {
  letter-spacing: 0.02em;
  margin: 25px 0;
}
.jumb--main-page__content-wrapper {
  min-height: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.jumb--main-page__bottom-thumb {
  margin-top: auto;
}
.jumb--main-page__bottom-thumb > .row .col-2 {
  -ms-flex-item-align: center;
      align-self: center;
}
.page-jumb {
  position: relative;
  padding: 40px 0;
  z-index: 1;
}
.page-jumb:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .6);
  z-index: -1;
}
.page-jumb .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  min-height: inherit;
}
.page-jumb__desc {
  width: 100%;
}
.page-jumb p:first-of-type {
  font-size: 24px;
  font-weight: 500;
  color: #3F3D52;
  margin-bottom: 15px;
}
.page-jumb h1 {
  max-width: 680px;
  line-height: 1.3;
  color: #3F3D52;
}
.main-page__play-link {
  display: inline-block;
}
.main-page__thumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #312783;
  font-size: 18px;
  color: #FFF;
  padding: 35px 5em 45px;
}
.main-page__thumb-list li {
  width: 25%;
  padding: 0 35px 0 50px;
}
.main-page__thumb-list li .team-icon-white img:last-of-type,
.main-page__thumb-list li .study-icon-white img:last-of-type,
.main-page__thumb-list li .home-icon-white img:last-of-type,
.main-page__thumb-list li .workplace-icon-white img:last-of-type {
  display: none;
}
.main-page__thumb-list li:hover img:first-of-type {
  display: none;
}
.main-page__thumb-list li:hover img:last-of-type {
  display: block;
}
.main-page__thumb-list li + li {
  border-left: 1px solid #FFF;
}
.main-page__thumb-list li span {
  width: 100%;
  margin-top: 10px;
}
.main-page__thumb-list a {
  display: inline-block;
}
.main-page__thumb-list a,
.main-page__thumb-list a:visited {
  color: inherit;
}
.about-us .main-container {
  position: relative;
  padding-top: 20px;
}
.about-us-page {
  background-color: #E7E7E9;
}
.about-us__img-container img {
  position: absolute;
  top: 0;
  border-radius: 8px;
  z-index: 1;
}
.about-us__img-container img:first-of-type {
  top: 4%;
  right: 50%;
}
.about-us__img-container img:nth-child(2) {
  top: 25%;
  right: 28%;
}
.about-us__img-container img:nth-child(3) {
  top: 16%;
  right: 9%;
}
.about-us__img-container img:nth-child(4) {
  top: 54%;
  right: 35%;
}
.about-us__img-container img:last-of-type {
  top: 39%;
  right: 0;
}
.about-us__main-desc {
  position: relative;
  max-width: 386px;
  padding: 7em 0 12em;
  z-index: 5;
}
.about-us__main-desc p {
  font-weight: 100;
  line-height: 1.6;
  color: #575568;
  margin: 4.5em 0;
}
.postulat {
  margin: 15px 0;
}
.postulat img + img {
  margin-left: 15px;
}
@media (max-width: 1170px) {
  .about-us__img-container img {
    opacity: 0.8;
  }
}
@media (max-width: 767px) {
  .about-us__main-desc {
    max-width: 560px;
    padding: 0 0 2em;
  }
  .about-us__img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    margin: 0 -15px;
  }
  .about-us__img-container img {
    position: static;
    margin: 15px;
  }
}
@media (max-width: 480px) {
  .postulat img {
    max-width: 65px;
  }
  .about-us__main-desc p {
    margin: 1.5em 0 3.5em;
  }
  .about-us__img-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1170px) {
  .jumb--main-page {
    background-position: left 30em top;
  }
  .jumb--main-page__bottom-thumb {
    margin-top: auto;
  }
  .jumb--main-page__bottom-thumb > .row .col-2 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    margin: 25px 0;
  }
  .jumb--main-page__bottom-thumb > .row .col-10 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .main-page__thumb-list {
    padding: 35px 2.5em 45px;
  }
  .main-page__thumb-list li {
    padding: 0 35px;
  }
}
@media (max-width: 767px) {
  .main-page__thumb-list {
    padding: 20px 2.5em 30px;
  }
  .main-page__thumb-list li {
    width: 50%;
    text-align: center;
    margin: 15px 0;
  }
  .main-page__thumb-list li:nth-child(3) {
    border-left: none;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 36px;
  }
  .jumb--main-page h1 {
    margin-top: 35px;
  }
  .main-page__thumb-list {
    padding: 20px 1.5em 30px;
  }
  .main-page__thumb-list li {
    width: 100%;
    border-left: none;
    padding: 25px 15px;
    margin: 0;
  }
  .main-page__thumb-list li + li {
    position: relative;
  }
  .main-page__thumb-list li + li:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #FFF;
    width: 120px;
    height: 1px;
  }
  .main-page__thumb-list li:nth-child(2),
  .main-page__thumb-list li:last-of-type {
    border-left: none;
  }
}
.special-block {
  background-color: #fbfbfb;
  padding: 65px 0 45px;
}
.desc-line {
  margin: 25px 0 65px;
}
.desc-line [class^="col-"] {
  margin: 15px 0;
}
.widget-social {
  overflow: hidden;
}
.widget-social-slider-wrapper {
  margin: 0 -12px;
}
.widget-social-slider li {
  margin: 0 12px;
}
.widget-social {
  font-size: 14px;
  padding-bottom: 1em;
}
.widget-social .jr-insta-thumb ul.thumbnails {
  margin: 0;
}
.widget-social .GraphImage > div {
  border-radius: 8px;
  overflow: hidden;
}
.widget-social .GraphImage a {
  display: block;
}
.widget-social .GraphImage:before {
  right: 15px;
  background-position: initial;
}
.widget-social .jr-insta-thumb ul.thumbnails li.GraphImage {
  width: 100%!important;
  padding: 0 12px;
  margin: 0;
}
.widget-social__img-block {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  color: #FFF;
}
.widget-social .GraphImage:hover a:before,
.widget-social .GraphImage:hover a:after {
  opacity: 1;
}
.widget-social .GraphImage a:before,
.widget-social .GraphImage a:after {
  position: absolute;
  content: '';
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.widget-social .GraphImage a:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/inst-icon.svg);
  width: 40px;
  height: 40px;
  z-index: 2;
}
.widget-social .GraphImage a:after {
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: calc( 100% - 24px );
  background-color: rgba(49, 39, 131, .95);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}
.widget-social__link-block .btn {
  max-width: 140px;
  margin-top: 32px;
}
.widget-social__item {
  max-width: 267px;
  margin: 0 auto;
}
.widget-social__likes {
  margin: 40px 0 25px;
}
.widget-social__likes-count {
  padding-left: 10px;
}
.widget-social__title {
  color: #3F3D52;
  margin: 10px 0;
}
.widget-social__slider-nav {
  text-align: right;
  margin: 16px -15px;
}
.widget-social__slider-nav .prev,
.widget-social__slider-nav .next {
  margin: 0 15px;
  cursor: pointer;
}
.widget-social__slider-nav .prev svg path,
.widget-social__slider-nav .next svg path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.widget-social__slider-nav .prev:hover svg path,
.widget-social__slider-nav .next:hover svg path,
.widget-social__slider-nav .prev:focus svg path,
.widget-social__slider-nav .next:focus svg path {
  fill: #3F3D52;
}
@media (max-width: 480px) {
  .sec {
    margin: 35px 0;
  }
  .block-title-md {
    font-size: 22px;
  }
}
.main-page .top-bar,
.about-us-page .top-bar {
  background-color: #E7E7E9;
}
.fixed .top-bar {
  position: fixed;
  width: 100%;
  background-color: #FFF;
  bottom: 100%;
  -webkit-box-shadow: 0 2px 8px 0 rgba(30, 36, 43, .05);
          box-shadow: 0 2px 8px 0 rgba(30, 36, 43, .05);
  padding: 22px 0;
  -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: 1000;
}
.top-bar {
  padding: 30px 0;
}
.top-bar__search-input {
  display: none;
}
.nav-toggle {
  position: relative;
  width: 20px;
  font-size: 0;
  vertical-align: super;
  margin-right: 35px;
  cursor: pointer;
  -webkit-transform-origin: center;
          -ms-transform-origin: center;
          transform-origin: center;
  z-index: 120;
}
.nav-toggle span {
  border-radius: 5px;
  width: 100%;
  height: 3px;
  background-color: #312783;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.nav-toggle span + span {
  margin-top: 3px;
}
.open-nav-menu .nav-toggle span:first-of-type {
  -webkit-transform: rotate(-45deg) translate(-2px, 6px);
          -ms-transform: rotate(-45deg) translate(-2px, 6px);
          transform: rotate(-45deg) translate(-2px, 6px);
}
.open-nav-menu .nav-toggle span:nth-child(2) {
  opacity: 0;
}
.open-nav-menu .nav-toggle span:last-of-type {
  -webkit-transform: rotate(45deg) translate(-2px, -7px);
          -ms-transform: rotate(45deg) translate(-2px, -7px);
          transform: rotate(45deg) translate(-2px, -7px);
}
.nav-col {
  margin-left: auto;
}
.site-top-logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 120;
}
.site-top-logo img {
  max-width: 168px;
}
.site-top-navigation .menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #27243D;
  margin: 0 -15px;
}
.site-top-navigation .menu > li {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  padding: 0 15px;
  z-index: 50;
}
.site-top-navigation .menu > li a {
  padding: 12px 5px;
}
.site-top-navigation .menu > li.menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 110;
}
.site-top-navigation .menu a {
  display: block;
  color: inherit;
}
.site-top-navigation .menu .sub-menu {
  position: absolute;
  top: 100%;
  left: 20px;
  visibility: hidden;
  background-color: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 16px 24px 0 rgba(30, 36, 43, .15), 0 6px 2px 0 rgba(30, 36, 43, .1), 0 1px 0 0 rgba(30, 36, 43, .1);
          box-shadow: 0 16px 24px 0 rgba(30, 36, 43, .15), 0 6px 2px 0 rgba(30, 36, 43, .1), 0 1px 0 0 rgba(30, 36, 43, .1);
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  padding: 10px 0;
  z-index: -10;
}
.site-top-navigation .menu .sub-menu li a {
  padding: 12px 24px;
}
.site-top-navigation .menu .sub-menu .current-menu-item a,
.site-top-navigation .menu .sub-menu li a:hover {
  background-color: #E7E7E9;
}
.site-top-navigation .menu .sub-menu li + li {
  border-top: 1px solid #CFCED4;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #FFF;
  width: 100%;
  max-width: 320px;
  padding-top: 80px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: 110;
}
.mobile-menu-inner {
  height: 100%;
  overflow: auto;
  padding: 0 30px 15px 15px;
}
.mobile-menu-search {
  position: relative;
  margin: 15px 0;
}
.mobile-menu .search-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  opacity: 0.6;
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mobile-menu .search-input {
  width: 100%;
  border: 1px solid #E7E7E9;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  line-height: 1;
  padding: 10px 14px 10px 30px;
}
.mobile-menu .search-input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 8px 0 rgba(231, 231, 233, .8);
          box-shadow: 0 0 8px 0 rgba(231, 231, 233, .8);
}
.mobile-menu .menu {
  color: #27243D;
}
.mobile-menu .menu > li {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  z-index: 50;
}
.mobile-menu .menu > li a {
  padding: 15px 0;
}
.mobile-menu .menu li.open-sub-menu {
  border-bottom: 1px solid #E7E7E9;
}
.mobile-menu .menu li.open-sub-menu .mobile-menu-arrow-wrapper .icon {
  -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
          transform: rotate(0);
}
.mobile-menu .menu li.open-sub-menu .sub-menu {
  display: block;
}
.mobile-menu .menu .mobile-menu-arrow-wrapper {
  position: absolute;
  top: 12px;
  right: 0;
  width: 45px;
  text-align: right;
}
.mobile-menu .menu .mobile-menu-arrow-wrapper .icon {
  -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.mobile-menu .menu .sub-menu {
  display: none;
  padding-left: 25px;
  padding-bottom: 15px;
}
.mobile-menu .menu .sub-menu li {
  font-weight: 500;
}
.mobile-menu .menu .sub-menu li.current-menu-item {
  background-color: #E7E7E9;
}
.mobile-menu .menu .sub-menu li a {
  font-size: 13px;
  padding: 10px 45px 10px 10px;
}
.mobile-menu .menu a {
  display: block;
  color: inherit;
}
.open-nav-menu {
  overflow: hidden;
}
.open-nav-menu .mobile-menu {
  -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 768px) {
  .open-nav-menu {
    overflow: auto;
  }
  .mobile-menu,
  .nav-toggle {
    display: none;
  }
  .top-bar .search-col {
    position: relative;
  }
  .top-bar .search-col .search-icon {
    position: relative;
    z-index: 100;
  }
  .top-bar__search-input {
    position: absolute;
    display: block;
    width: 20px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #CFCED4;
    padding: 12px 45px 12px 4px;
    opacity: 0;
    -webkit-transition: opacity 0.3s, width 0.3s 0.3s ease-in, padding 0.3s 0.4s;
    -o-transition: opacity 0.3s, width 0.3s 0.3s ease-in, padding 0.3s 0.4s;
    transition: opacity 0.3s, width 0.3s 0.3s ease-in, padding 0.3s 0.4s;
    z-index: 80;
  }
  .open-search-input .top-bar__search-input {
    opacity: 1;
    width: 450px;
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  .nav-toggle {
    display: inline-block;
  }
  .site-top-navigation {
    display: none;
  }
  .top-bar .search-col {
    display: none;
  }
  .fixed .top-bar {
    -webkit-transition: auto;
    -o-transition: auto;
    transition: auto;
  }
}
@media (max-width: 480px) {
  .nav-toggle {
    margin-right: 25px;
  }
  .site-top-logo img {
    max-width: 148px;
  }
}
.special-cards-wrapper {
  overflow: hidden;
}
.special-cards-wrapper__inner {
  margin: 0 -15px;
}
.special-cards__arrow-nav {
  text-align: right;
  margin: 16px -15px;
}
.special-cards__arrow-nav .next,
.special-cards__arrow-nav .prev {
  margin: 0 15px;
  cursor: pointer;
}
.special-cards__arrow-nav .next svg path,
.special-cards__arrow-nav .prev svg path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.special-cards__arrow-nav .next:hover svg path,
.special-cards__arrow-nav .prev:hover svg path {
  fill: #3F3D52;
}
.special-cards .row {
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.special-cards .special-card {
  position: relative;
  max-width: 390px;
  color: #FFF;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  padding: 0;
  margin: 0 15px;
}
.special-cards .special-card__discount {
  right: -95px;
  top: -25px;
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #FF0000;
  width: 241px;
  max-width: none;
  text-align: center;
  padding: 40px 10px 20px;
}
.special-cards .special-card__discount .text {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
}
.special-cards .special-card__inner {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.special-cards .special-card__inner:visited {
  color: inherit;
}
.special-cards .special-card__img {
  position: relative;
  display: inline-block;
  font-size: 0;
  -webkit-box-shadow: -2px 4px 10px 0 rgba(30, 36, 43, .25);
          box-shadow: -2px 4px 10px 0 rgba(30, 36, 43, .25);
}
.special-cards .special-card__title {
  margin: 20px 0 5px;
}
.special-cards .special-card p {
  min-height: 40px;
  -webkit-transition: opacity 0.3s 0.3s;
  -o-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}
.special-cards .special-card p.show {
  display: block;
}
.special-card {
  position: relative;
  color: #FFF;
  margin: 25px 0 15px;
}
.special-card__discount {
  position: absolute;
  top: 28px;
  right: 0;
  -webkit-box-shadow: -4px 0 20px 0 rgba(30, 36, 43, .15);
          box-shadow: -4px 0 20px 0 rgba(30, 36, 43, .15);
  background-color: #FF5221;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 100%;
  max-width: 105px;
  font-size: 12px;
  color: inherit;
  padding: 5px 5px 5px 15px;
  z-index: 1;
}
.special-card__discount .text {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}
.special-card__inner {
  display: block;
  min-height: 480px;
  border-radius: 5px;
  color: inherit;
  padding: 90px 34px 40px;
}
.special-card__inner .block-title {
  color: inherit;
}
.special-card__inner:visited {
  color: inherit;
}
.special-card__title {
  min-height: 52px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  margin: 35px 0 15px;
}
.special-card p {
  min-height: 40px;
  margin-bottom: 20px;
}
.special-card .main-cost {
  font-size: 20px;
  font-weight: 500;
}
.special-card .old-cost {
  font-size: 14px;
  text-decoration: line-through;
}
@media (min-width: 768px) and (max-width: 1170px) {
  .special-cards .special-card__title,
  .special-cards .special-card__cost-wrapper {
    min-width: 180px;
  }
}
@media (min-width: 768px) {
  .special-block .special-cards-wrapper {
    margin-top: 50px;
  }
  .special-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
  }
  .special-cards-wrapper__inner {
    margin: 0;
  }
  .special-cards.owl-carousel {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: auto;
  }
  .special-cards__arrow-nav {
    display: none;
  }
  .special-cards .special-card {
    max-width: none;
    width: 20%;
    overflow: hidden;
    padding: 0 15px;
    margin: 0;
  }
  .special-cards .special-card__discount {
    left: 50%;
    right: auto;
    top: -18px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    width: 241px;
    max-width: none;
    opacity: 0;
  }
  .special-cards .special-card__inner {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    padding: 50px 0 40px 40px;
  }
  .special-cards .special-card__img {
    position: relative;
    display: block;
    height: 186px;
    min-width: 175px;
    font-size: 0;
    -webkit-box-shadow: -2px 4px 10px 0 rgba(30, 36, 43, .25);
            box-shadow: -2px 4px 10px 0 rgba(30, 36, 43, .25);
    overflow: hidden;
  }
  .special-cards .special-card__img img {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    max-width: none;
  }
  .special-cards .special-card p {
    min-width: 230px;
    visibility: hidden;
    opacity: 0;
  }
  .special-cards .special-card:hover {
    width: 394px;
  }
  .special-cards .special-card:hover p {
    visibility: visible;
    opacity: 1;
  }
  .special-cards .special-card:hover .special-card__inner {
    border-radius: 5px;
    padding-right: 40px;
  }
  .special-cards .special-card:hover .special-card__discount {
    opacity: 1;
    -webkit-transition: opacity 0.1s 0.3s;
    -o-transition: opacity 0.1s 0.3s;
    transition: opacity 0.1s 0.3s;
  }
}
@media (max-width: 991px) {
  .more-special [class^="col"] {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .more-special .special-card__inner {
    min-height: 400px;
    padding: 30px 30px 20px;
  }
  .fixed .top-bar {
    top: 0;
    bottom: auto;
    -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (max-width: 480px) {
  .more-special [class^="col"] {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .more-special .special-card__inner {
    padding: 30px 30px 20px;
  }
  .special-card {
    max-width: 400px;
  }
  .special-card__title {
    min-height: auto;
  }
  .special-card__inner {
    min-height: auto;
    padding: 30px 15px 20px;
  }
  .special-cards .special-card__inner {
    padding: 60px 40px 45px;
  }
}
.products {
  margin-top: 35px;
}
.product {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  color: #FFF;
  z-index: 1;
}
.product:visited {
  color: #FFF;
}
.product__desc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(49, 39, 131, .95);
  color: #FFF;
  padding: 15px 50px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.product:hover .product__desc {
  opacity: 1;
}
.product__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  word-wrap: break-word;
  margin-bottom: 25px;
}
.product--long .product__desc {
  padding: 15px 80px;
}
.grid-item {
  display: block;
  width: calc(33.333% - 16px);
  margin-bottom: 2%;
}
@media (max-width: 1170px) {
  .product--long .product__desc {
    padding: 15px 45px;
  }
  .product__desc {
    padding: 15px 25px;
  }
  .product__text {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .more-btn {
    font-size: 16px;
    padding: 12px 5px;
  }
}
@media (max-width: 767px) {
  .grid-item {
    width: calc(50% - 12px);
    margin-bottom: 3.2%;
  }
  .product__text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .more-btn {
    font-size: 14px;
    padding: 10px 5px;
  }
}
@media (max-width: 480px) {
  .grid-item {
    width: auto;
    margin-bottom: 15px;
  }
  .product--long .product__desc {
    padding: 15px 25px;
  }
}
.product-jumb {
  position: relative;
}
.product-jumb-wrapper {
  min-height: inherit;
}
.product-jumb__slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.product-jumb .main-container {
  position: relative;
  padding-right: 0;
  padding-left: 0;
}
.product-jumb__main-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 40px 0;
}
.product-jumb__slider-arrows {
  position: absolute;
  width: 100%;
  max-width: 1310px;
  top: 0;
  left: 50%;
  height: 0;
  -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
}
.product-jumb__slider-arrows .prev,
.product-jumb__slider-arrows .next {
  position: absolute;
  top: 280px;
  height: 50px;
  cursor: pointer;
  z-index: 10000;
}
.product-jumb__slider-arrows .prev svg path,
.product-jumb__slider-arrows .next svg path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.product-jumb__slider-arrows .prev:hover svg path,
.product-jumb__slider-arrows .next:hover svg path {
  fill: #3F3D52;
}
.product-jumb__slider-arrows .prev {
  left: 0;
}
.product-jumb__slider-arrows .next {
  right: 0;
}
.product-jumb-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-jumb-thumb li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 73px;
  background-color: #E7E7E9;
  cursor: pointer;
  padding: 0;
}
.product-jumb-thumb li + li {
  margin-left: 30px;
}
.product-jumb-thumb-col {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.product-jumb-thumb .item {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.product-jumb-thumb .item.active {
  -webkit-box-shadow: 0 4px 20px 0 rgba(30, 36, 43, .3);
          box-shadow: 0 4px 20px 0 rgba(30, 36, 43, .3);
}
.product-cost {
  font-size: 30px;
  margin: 25px 0 30px;
}
.product-cost::before {
  content: attr(data-total-cost);
  display: inline-block;
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
}
.product-cover .product-cost::before {
  content: attr(data-cover-cost);
}
.product-cart-btn-block {
  position: relative;
}
.product-cart-btn {
  position: relative;
  display: block;
  width: 100%;
  background-color: #312783;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 5px;
  color: #FFF;
  margin: 15px 0;
  z-index: 1;
}
.product-cart-btn.waiting {
  color: transparent;
}
.product-cart-btn.waiting,
.product-cart-btn.waiting:hover {
  opacity: .5;
}
.product-cart-btn.waiting::after {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url('../img/button-preloader.svg') center no-repeat;
  width: 50%;
  height: 50px;
  z-index: 1;
}
.product-cart-btn.success {
  background-color: #84c065;
  opacity: 1;
}
.product-cart-btn:visited {
  color: #FFF;
}
.product-cart-btn:hover {
  opacity: 0.85;
}
.product-board {
  position: relative;
  max-width: 364px;
  min-height: 580px;
  background: #FEFEFF;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, .04), 0px 2px 10px rgba(0, 0, 0, .15), 0px 10px 20px rgba(0, 0, 0, .04);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, .04), 0px 2px 10px rgba(0, 0, 0, .15), 0px 10px 20px rgba(0, 0, 0, .04);
  border-radius: 2px;
  padding: 25px 22px 20px;
  margin-left: auto;
}
.product-board h1 {
  margin-bottom: 5px;
}
.product-board-col {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.product-board__stock {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 10px;
  letter-spacing: 0.02em;
  color: #b2b2b8;
}
.product-board h1 {
  font-family: inherit;
  font-size: 24px;
}
.product-board__desc {
  color: #b2b2b8;
  margin-bottom: 20px;
}
.product-board__info {
  font-size: 10px;
}
.product-cover__desc {
  width: 100%;
}
.product-cover__items {
  width: 100%;
  font-size: 0;
  margin-top: 15px;
  margin-bottom: 25px;
}
.product-cover__items li + li {
  margin-top: 5px;
}
.product-cover__items li[aria-label]:focus {
  outline: none;
  border: none;
}
.product-cover .product-cost {
  font-size: 20px;
}
.product__title {
  margin-bottom: 30px;
}
.product-main-desc p {
  margin: 15px 0;
}
.product-advantages img {
  max-width: 72px;
}
.product-advantages .title {
  font-size: 18px;
  font-weight: 500;
  margin: 30px 0 15px;
}
.product-advantages [class^="col-"] {
  margin: 25px 0;
}
.product-advantages p {
  letter-spacing: 0.02em;
}
.board-props {
  min-height: 190px;
}
.board-props .quantity:after {
  display: inline-block;
  content: attr(data-module-quantity);
  font-size: inherit;
  font-weight: 400;
}
.board-thumb-items {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}
.board-thumb-items img {
  border-radius: 3px;
}
.board-thumb-items:after {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  border-radius: inherit;
  border: 1px solid #312783;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.board-thumb-items.active-thumb:after,
.active-thumb .board-thumb-items:after {
  opacity: 1;
}
.control-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}
.number-control--color {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.empty .number-control--color {
  opacity: .5;
}
.control-wrapper strong {
  font-weight: 500;
}
.control-wrapper span {
  vertical-align: middle;
}
.control-name {
  color: #575568;
  padding-right: 10px;
}
.control-name strong {
  font-weight: 500;
}
.color-picker-box {
  display: none;
}
.control-color-picker .color-picker-box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 200px;
  margin: -5px -15px;
}
.control-color-picker-wrapper {
  margin: 15px 0;
}
.control-color-picker .control-name {
  min-height: 40px;
  margin: 5px 0;
}

.control-desc {
  color: #b2b2b8;
}
.number-control {
  width: 100%;
  max-width: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E7E7E9;
  border-radius: 20px;
  padding: 4px;
}
.number-control .minus,
.number-control .plus {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #FFF;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 32px;
  color: rgba(49, 39, 131, .4);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.number-control .minus:hover,
.number-control .plus:hover,
.number-control .minus:focus,
.number-control .plus:focus {
  color: #312783;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, .04), 0px 2px 10px rgba(0, 0, 0, .15), 0px 10px 20px rgba(0, 0, 0, .04);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, .04), 0px 2px 10px rgba(0, 0, 0, .15), 0px 10px 20px rgba(0, 0, 0, .04);
}
.number-control--color .total {
  color: #FFF;
}
.number-control--color .minus,
.number-control--color .plus {
  background-color: rgba(255, 255, 255, .15);
  color: rgba(255, 255, 255, .4);
}
.number-control--color .minus:hover,
.number-control--color .plus:hover,
.number-control--color .minus:focus,
.number-control--color .plus:focus {
  background-color: rgba(255, 255, 255, .05);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, .04), 0px 2px 10px rgba(0, 0, 0, .15), 0px 10px 20px rgba(0, 0, 0, .04);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, .04), 0px 2px 10px rgba(0, 0, 0, .15), 0px 10px 20px rgba(0, 0, 0, .04);
  color: #FFF;
}
.number-control .total {
  width: 25%;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  padding: 5px 0;
  text-align: center;
}
.number-preset {
  font-size: 0;
  margin: 6px 0;
}
.number-preset li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  background-color: #E7E7E9;
  border-radius: 2px;
  font-size: 13.6px;
  font-size: 0.85rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.number-preset li + li {
  margin-left: 12px;
}
.number-preset li.active {
  background-color: #312783;
  color: #FFF;
}
@media (max-width: 991px) {
  .product-jumb__main-info {
    position: relative;
    padding: 0;
    margin-top: -15em;
  }
  .product-jumb-thumb-col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .product-jumb-thumb-col {
    margin: 15px 0;
  }
  .product-jumb-thumb {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-cover .input-group .row {
    margin: 0 -10px;
  }
  .product-cover .input-group .col {
    padding: 0 5px;
  }
  .control-color-picker .color-picker-box {
    height: auto;
  }
  .control-color-picker .color-picker-box.active {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-self: center;
    align-self: center;
    margin: 0 -20px;
  }
  .control-color-picker .control-name {
    width: 100%;
    padding: 0 5px;
  }
  .control-color-picker .control-wrapper {
    padding: 0 5px;
  }
}
@media (max-width: 576px) {
  .product-jumb {
    min-height: auto;
  }
  .product-jumb-wrapper {
    height: 400px!important;
  }
  .product-jumb__slider-arrows .next,
  .product-jumb__slider-arrows .prev {
    top: 180px;
  }
  .product-jumb__main-info {
    position: relative;
    padding: 0;
    margin-top: 15px;
  }
  .product-jumb-thumb-col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .product-jumb-thumb-col {
    margin: 15px 0;
  }
  .product-jumb-thumb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
  }
  .product-jumb-thumb li,
  .product-jumb-thumb li + li {
    margin: 5px;
  }
  .control-color-picker .color-picker-box.active {
    height: auto;
  }
}
.montage__board,
.montage__video-block {
  margin: 25px 0;
}
.montage__board {
  border-radius: 2px;
  background-color: #312783;
  color: #FFF;
  padding: 14px 16px 25px;
}
.montage__board [class^="col-"] + [class^="col-"] {
  border-left: 1px dashed rgba(255, 255, 255, .5);
}
.montage__board-title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}
.montage__board .img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95px;
}
.montage__board-desc {
  font-size: 13px;
}
.montage__steps [class^="col-"] {
  margin-bottom: 15px;
}
.montage__steps .step {
  font-size: 10px;
  color: rgba(87, 85, 104, .5);
  margin-bottom: 15px;
}
.montage__steps img {
  height: 60px;
}
.montage__steps .text {
  position: relative;
  top: -18px;
  font-size: 13px;
  color: #575568;
  padding-left: 35px;
}
.montage__video-block {
  position: relative;
}
.montage__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
.stick-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}
.stick-line:first-of-type {
  margin-top: 30px;
}
.stick-line + .control-wrapper {
  margin-top: 40px;
}
.stick-line__img-wrapper {
  -ms-flex: 0 0 56px;
  -webkit-box-flex: 0;
          flex: 0 0 56px;
  max-width: 56px;
}
.stick-line__quantity {
  -ms-flex: 0 0 35px;
  -webkit-box-flex: 0;
          flex: 0 0 35px;
  max-width: 35px;
  font-weight: 500;
  padding-left: 6px;
}
.stick-line__desc {
  width: calc( 100% - 116px );
  margin: 0 15px 0 8px;
}
@media (max-width: 480px) {
  .stick-line__desc {
    width: 100%;
  }
}
.more-products {
  font-size: 18px;
  font-weight: 500;
}
.more-products [class^="col-"] {
  margin-top: 25px;
}
.more-products__title {
  font-weight: inherit;
  margin: 15px 0 5px;
}
.more-products a {
  display: block;
}
.more-products img {
  border-radius: 2px;
}
.more-products p {
  color: #9F9EA9;
}
.more-products p .rub {
  font-weight: 400;
  padding-left: 3px;
}
@media (max-width: 1170px) {
  .montage video {
    display: block;
  }
  .montage video[poster] {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .product-advantages [class^="col-"] {
    -ms-flex: 0 0 33.3333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .product-board-col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .product-board {
    max-width: none;
    min-height: auto;
    margin: 15px 0;
  }
  .board-props {
    min-height: 120px;
  }
  .montage .col-6 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .montage .col-6:nth-child( 3 ) {
    border-color: rgba(255, 255, 255, .5);
  }
  .montage video {
    max-height: 500px;
  }
}
@media (max-width: 767px) {
  .more-products [class^="col-"] {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 576px) {
  .product-advantages [class^="col-"] {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .montage__board [class^="col-"] {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .montage__board [class^="col-"]:nth-child( 3 ) {
    border-color: transparent;
  }
  .montage__steps [class^="col-"] {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 480px) {
  .product__title {
    margin-bottom: 15px;
  }
  .product-advantages [class^="col-"] {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .product-advantages .title {
    margin: 15px 0 5px;
  }
  .more-products [class^="col-"] {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
.empty-cart {
  text-align: center;
}
.empty-cart-img {
  max-width: 200px;
  margin: 6em auto 45px;
}
.cart-page-wrapper {
  padding-top: 25px;
  padding-bottom: 50px;
}
.cart-page-wrapper strong {
  font-weight: 500;
}
.cart-page-wrapper h1 {
  font-family: inherit;
  font-weight: 500;
}
.cart-page-wrapper .rub {
  font-size: 0.8em;
}
.cart-page__col-top {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cart-list {
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}
.cart-list .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.cart-list__item {
  padding: 20px 0 15px;
  border-bottom: 1px solid #E7E7E9;
}
.cart-list__item-preview {
  min-width: 103px;
}
.cart-list__item-control {
  min-width: 154px;
}
.cart-list__item:last-of-type {
  padding-bottom: 40px;
}
.cart-list__item-name {
  font-size: 16px;
  margin-bottom: 8px;
}
.cart-list__item-cost {
  font-size: 20px;
  white-space: nowrap;
  padding-right: 35px;
  margin-left: auto;
}
.cart-list__item-cost .rub {
  margin-left: 5px;
}
.cart-list__item-cost .total::before {
  content: attr(data-temp-cost);
}
.cart-list__close-item {
  cursor: pointer;
}
.cart-list__close-item svg {
  width: 24px;
  height: 24px;
}
.cart-total-info {
  margin-top: 25px;
  margin-top: auto;
}
.cart-list__item-color-preset {
  vertical-align: text-top;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin-left: 10px;
}

.cart-list__item-color-preset + .cart-list__item-color-preset {
  margin-left: 24px;
}
.cart-list__item-color-preset::after {
  content: attr( data-color-preset );
  display: inline-block;
  vertical-align: baseline;
  margin-left: 18px;
}
.cart-total-info table {
  margin-left: auto;
}
.cart-total-info table td {
  vertical-align: baseline;
  padding: 4px 0;
}
.cart-total-info table td:first-of-type {
  padding-right: 45px;
}
.cart-total-info table .total {
  font-size: 24px;
  padding-top: 15px;
}
.cart-total-info table .total::before {
  content: attr(data-total-price);
  font-size: inherit;
  font-weight: inherit;
}
.cart-form-col {
  margin-left: auto;
}
.cart-form div.wpcf7 .ajax-loader {
  position: absolute;
  left: 0;
}
.cart-form div.wpcf7-response-output {
  background-color: #fff;
}
.cart-form .wpcf7-response-output {
  top: 101%;
  margin: 0;
}
.cart-form > p {
  margin-bottom: 26px;
}
.cart-form input,
.cart-form textarea {
  width: 100%;
  border-color: #9F9EA9;
  margin: 8px 0;
}
.cart-form input:focus,
.cart-form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 8px 0 rgba(30, 36, 43, .05);
          box-shadow: 0 0 8px 0 rgba(30, 36, 43, .05);
}
.cart-form textarea {
  height: 144px;
  resize: none;
}
.cart-form .form-btn {
  font-size: 18px;
}
.cart-form .form-info {
  margin-bottom: 30px;
}
.cart-popup {
  position: relative;
  max-width: 600px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(30, 36, 43, .15);
          box-shadow: 0 10px 20px 0 rgba(30, 36, 43, .15);
  background-color: #FFF;
  text-align: center;
  padding: 1em 5em 2em;
  margin: 45px auto;
}
.cart-popup .img-block {
  text-align: left;
}
.cart-popup .block-title-md {
  font-weight: 500;
}
.cart-popup p {
  max-width: 287px;
  margin: 20px auto 30px;
}
.cart-popup img {
  width: 100%;
  max-width: 289px;
}
.cart-popup__close {
  cursor: pointer;
  margin: 15px 0;
}
@media (max-width: 991px) {
  .cart-list .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cart-list__item-main-desc {
    -ms-flex: 0 0 calc(100% - 105px);
    -webkit-box-flex: 0;
            flex: 0 0 calc(100% - 105px);
    max-width: calc(100% - 105px);
  }
  .cart-page__col-top {
    min-height: 400px;
  }
  .cart-form-col {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .cart-main-col {
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .cart-main-col,
  .cart-form-col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .cart-list__item-cost,
  .cart-list__item-control {
    margin: 15px 0 15px auto;
  }
}
@media (max-width: 480px) {
  .cart-list__item {
    position: relative;
  }
  .cart-list__close {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0;
  }
  .cart-popup {
    padding: 1em 2.5em 2em;
  }
}

/*FAQ*/
.page-template-template-faq {
  background-color: #E7E7E9;
}
.faq-line {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.faq-line:hover,
.faq-line:focus {
  -webkit-box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
  box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
}
.faq-line:focus {
  outline: none;
}
.faq-line {
  margin-top: 20px;
}
.faq-line + .faq-line {
  margin-top: 15px;
}
.faq-line__question,
.faq-line p {
  color: #575568;
  text-align: left;
}
.faq-line__question {
  position: relative;
  padding: 20px 45px 20px 15px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.faq-line__question:focus {
  color: #000;
}
.faq-line__question:after {
  position: absolute;
  content: '';
  display: block;
  top: 20px;
  right: 25px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #575568;
  border-bottom: 2px solid #575568;
  width: 8px;
  height: 8px;
}
.faq-line__question.open:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.faq-line p {
  padding: 10px 15px;
}
.faq-line p:last-of-type {
  padding-bottom: 20px;
}
.faq-line__question {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.faq-support {
  font-size: 18px;
  font-weight: 500;
  margin-top: 55px;
}

.faq-support a,
.faq-support a:visited {
  color: inherit;
}
.faq-support a {
  border-bottom: 1px dashed #575568;
}
.faq-support a:hover {
  border-color: transparent;
}

/*END FAQ*/

/*SEARCH PAGE*/
.search-results {
  background-color: #E7E7E9;
}
.search-page {
  padding-bottom: 35px;
}
.search-page .block-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  border-bottom: 1px solid #B7B6BE;
  padding-bottom: 50px;
}
.search-article {
  margin: 25px 0;
}
.search-page .entry-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.search-page .entry-title a,
.error-404 a {
  border-bottom: 1px solid #B7B6BE;
}
.search-page .entry-title a:hover {
  border-color: transparent;
}
.search-page .entry-title br {
  display: none;
}
/*END SEARCH PAGE*/

/*404*/
.error404 .main-content {
  background: url('../img/404.svg') left 20% top 100px no-repeat;
}
.error-404 {
  height: 100%;
  padding-bottom: 50px;
}

.error-404 .page-title {
  font-size: 144px;
  color: #6F6D7D;
  margin-top: 40px;
  margin-bottom: 10px;
}

/*END 404*/

.footer {
  min-height: 350px;
  font-size: 13px;
  color: #FFF;
  padding: 6.5em 0;
}
.footer__logo {
  display: block;
  max-width: 168px;
  margin-bottom: 45px;
}
.footer__menu li + li {
  margin-top: 30px;
}
.footer__menu li a,
.footer__menu li a:visited {
  font-size: 13px;
  font-weight: 500;
  color: inherit;
}
.footer__menu li a:hover,
.footer__menu li a:visited:hover {
  opacity: 0.7;
}
.footer__title {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: inherit;
  padding-bottom: 8px;
  margin-top: 10px;
}
.footer__title:after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .5);
  width: 72px;
  height: 1px;
}
.footer__contact-item {
  font-size: 13px;
  margin-top: 30px;
}
.footer__contact-item:first-of-type {
  margin-top: 35px;
}
.footer .site-phone .icon {
  vertical-align: baseline;
  vertical-align: initial;
  margin-right: 8px;
}
.footer .site-email .icon {
  vertical-align: text-top;
  margin-right: 8px;
}
.footer__social-block .social-link + .social-link {
  margin-left: 20px;
}
.footer .custom-checkbox {
  margin-top: 6px;
}
.footer .custom-checkbox.private-policy label {
  color: rgba(255, 255, 255, .9);
}
.footer .custom-checkbox.private-policy label:before {
  background-color: rgba(255, 255, 255, .5);
}
.footer__form .flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__form .flex-col .form-info {
  width: 100%;
}
.arrow-up {
  position: fixed;
  right: -2px;
  bottom: -2px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(30, 36, 43, .15);
  box-shadow: 0 2px 8px 0 rgba(30, 36, 43, .15);
  background-color: #fff;
  width: 80px;
  height: 50px;
  z-index: 50;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.arrow-up::after {
  position: absolute;
  content: '';
  display: block;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX( -50% ) rotate( -45deg );
  -ms-transform: translateX( -50% ) rotate( -45deg );
  -o-transform: translateX( -50% ) rotate( -45deg );
  transform: translateX( -50% ) rotate( -45deg );
  border-top: 1px solid #575568;
  border-right: 1px solid #575568;
  width: 20px;
  height: 20px;
}
.error-log {
  position: absolute;
  visibility: hidden;
  top: -70%;
  right: 0;
  left: 0;
  background-color: #fff;
  border: 2px solid red;
  font-size: 12px;
  color: red;
  opacity: 0;
  padding: 4px 15px;
  z-index: -111;
}
.fixed .arrow-up {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.error-log.error {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  z-index: 5;
}
#send-modal {
  width: 100%;
  max-width: 320px;
  text-align: center;
  overflow: unset;
  padding: 40px 15px;
}
#send-modal .img-block svg {
  width: 80px;
}
#send-modal .img-block svg path {
  fill: #312783;
}
form .wpcf7-mail-sent-ok {
  display: none!important;
}
.modal-layout {
  z-index: 999999999;
}
.modal-layout .fancybox-bg {
  background-color: rgba(49, 39, 131, .95);
}
[role="form"] {
  position: relative;
}
.wpcf7-response-output {
  position: absolute;
  top: 92%;
  left: 0;
  right: 0;
}
@media (max-width: 1170px) {
  .footer .col-3 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .footer .row--first > .col-6 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 5em 0;
  }
  .footer .row--first > .col-6 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .row--first > .col-6 .col-6 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .row--first > .col-6 .col-6 + .col-6 {
    margin-top: 15px;
  }
  .search-page .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .arrow-up {
    width: 60px;
    height: 40px;
  }
}
@media (max-width: 480px) {
  .footer .col-3 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .col-3 + .col-3 {
    margin-top: 40px;
  }
  .footer__logo {
    margin-bottom: 25px;
  }
}
.contact-form {
  width: 100%;
  font-size: 13px;
  max-width: 590px;
}
.contact-form-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(49, 39, 131, .95);
  color: #FFF;
  opacity: 0;
  z-index: -10;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding: 8em 15px 40px;
}
.contact-form__close-popup {
  position: absolute;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.contact-form__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 35px;
}
.contact-form__item + .contact-form__item {
  margin-top: 20px;
}
.contact-form__item + .contact-form__item .icon,
.contact-form__item + .contact-form__item .icon + span {
  vertical-align: middle;
}
.contact-form__item + .contact-form__item .icon {
  margin-right: 10px;
}
.contact-form .form-info {
  margin-top: 0;
}
.contact-form .private-policy {
  margin: 15px 0 30px;
}
.open-contact-popup {
  overflow: hidden;
}
.open-contact-popup .contact-form-popup {
  visibility: visible;
  opacity: 1;
  z-index: 100000;
}
@media (max-width: 767px) {
  .page-jumb__overtitle {
    font-size: 20px;
    margin-bottom: 25px;
  }
  h1 {
    font-size: 36px;
  }
  .jumb {
    min-height: 400px;
  }
  .product__desc {
    top: auto;
    opacity: 1;
    z-index: 1;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.18) 59%, rgba(0,0,0,0.3) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.18) 59%,rgba(0,0,0,0.3) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.18) 59%,rgba(0,0,0,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );
  }
  .product__desc,
  .product--long .product__desc {
    padding: 50px 20px 15px;
  }
  .faq-page .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .faq-support {
    font-size: 16px;
    margin-bottom: 55px;
  }
  .faq-line__question {
    padding: 16px 45px 16px 15px;
  }
  .error404 .main-content {
    background: url('../img/404.svg') left -20% top 100px no-repeat;
    -webkit-background-size: 50%;
    background-size: 50%;
  }
  .error-404 .page-title {
    font-size: 72px;
  }

  .error-404 {
    padding-bottom: 7em;
  }
}
@media (max-width: 576px) {
  .page-jumb p:first-of-type {
    font-size: 20px;
  }
  h1 {
    font-size: 32px;
  }
  .desc-line {
    margin: 20px 0 55px;
  }
  .desc-line [class^="col-"] {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .about-us__img-container {
    justify-content: center;
  }
  .about-us__img-container img:first-of-type,
  .about-us__img-container img:nth-child(2),
  .about-us__img-container img:nth-child(3) {
    display: none;
  }
}
@media (max-width: 480px) {
  .contact-form-popup {
    overflow-y: auto;
  }
  .contact-form .col-6 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-form .col-6 + .col-6 {
    margin-top: 55px;
  }
  .number-control {
    max-width: 115px;
  }
}
