if( boardCover )
  .product-cover
    .control-wrapper
      .product-cover__desc
        strong
          span.control-name Покрытие:
        span.control-desc Магнитно-маркерное
      ul.product-cover__items.js-productBoarThumb(data-total)
        li.board-thumb-items(tabindex="0" aria-label="product-cover" data-props="1")
          img(src="img/products/product-cover-1.png", alt="")
        li.board-thumb-items(tabindex="0" aria-label="product-cover" data-props="2")
          img(src="img/products/product-cover-2.png", alt="")