if( boardColor )
  - var total = 1;
  .control-color-picker-wrapper
    .control-color-picker
      span.control-name
        strong Цвета:
      each val in boardColor
        .control-wrapper
          .number-control.number-control--color.js-numberControl(data-color=val data-total=total style='background-color: ' + val + ';')
            button.btn.minus &#8722;
            input.total(type="text" value=total)
            button.btn.plus +