if( stiker )
  - var minTotal = 3;
  .control-wrapper
    strong
      span.control-name Кол-во:
    ul.number-preset.js-productBoarThumb(data-preset-total=minTotal)
      li.board-thumb-items(tabindex="0" aria-label="number-preset")= minTotal
      li.board-thumb-items(tabindex="0" aria-label="number-preset")= minTotal*2
      li.board-thumb-items(tabindex="0" aria-label="number-preset")= minTotal*4
      li.board-thumb-items(tabindex="0" aria-label="number-preset")= minTotal*8