if( boardControl )
  - var  total = 1;
  .control-wrapper
    strong
      span.control-name Кол-во:
    .number-control.js-numberControl(data-total=total)
      button.btn.minus &#8722;
      input.total(type="text" value=total)
      button.btn.plus +