if( stickLine )
  each val in stickLine
    .stick-line
      .stick-line__img-wrapper
        .img-block
          img(src=val.img, alt="")
      strong
        span.stick-line__total= val.total
      span.stick-line__desc= val.desc
