footer.footer.main-font
  .container
    .row.row--first
      .col-3
        a.site-logo.footer__logo(href="/")
          img(src="img/footer-logo.svg" atl="Site Name")
        ul.menu.footer__menu
          li
            a(href="#") О нас
          li
            a(href="#") FAQ
          li
            a(href="#") Для кого

      .col-3
        h3.footer__title Наши контакты

        //- Contact data
        .footer__contacts
          .site-phone.footer__contact-item
            a(href="tel: +79005678954")
              i.icon.phone-icon-white(aria-hidden="true")
              | + 7 900 567 89 54
          .site-email.footer__contact-item
            a(href="mailto: Magniclick@gmail.ru")
              i.icon.mail-icon-white(aria-hidden="true")
              | Magniclick@gmail.ru
          .social-block.footer__social-block.footer__contact-item
            a.social-link(href="#")
              i.icon.viber-icon-white(aria-hidden="true")
            a.social-link(href="#")
              i.icon.telegram-icon-white(aria-hidden="true")
            a.social-link(href="#")
              i.icon.whatsapp-icon-white(aria-hidden="true")

      .col-6
        .row
          .col-6
            h3.footer__title Контакты для связи

        //- Form
        .footer__form.white-form
          form(action="#" method="POST")
            .row
              .col-6
                input(type="text" placeholder="Как к вам обращаться?")
                input(type="tel" placeholder="Телефон *" required)
                input(type="mail" placeholder="E-mail *" required)
              .col-6.flex-col
                .custom-checkbox.private-policy
                  input(type="checkbox" id="footer-form-private-policy")
                  label(for="footer-form-private-policy") Компания Magniclick будет обрабатывать ваши персональные данные в&nbsp;соответствии с&nbsp;#[a(href="#") Политикой конфиденциальности]
                span.form-info
                  | *. Поля являются обязательными для заполнения
                button(type="submit").btn
                  | Связаться со мной

  include ./pug_site_components/_contacts.pug

  script(src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous")
  if( mainPage )
    script(src="js/libs/masonry-grid.min.js")
  script(src="js/libs/owl.carousel.min.js")
  script(src="js/libs/owl.carousel2.thumbs.min.js")
  script(src='js/script.js')