head
  meta(charset="UTF-8")
  title #{var_title}
  meta(name="description" content=var_dscr)
  meta(name="viewport" content="width=device-width,initial-scale=1.0")
  meta(name="format-detection" content="telephone=no")
  link( href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")

  link(rel="stylesheet" href="css/libs/owl.carousel.min.css")

  link(rel="stylesheet" href="css/style.css")
  link(rel="icon" type="image/icon" href="favicon.ico")