extends layout/main
block variables
  - var aboutUs = true;

block content
  section.about-us.main-font
    .main-container
      .container
        .about-us__main-desc
          h1 О нас
          p Коротенький текст о&nbsp;деятельности компании, продуктач, для кого, чего и&nbsp;прочее. Коротенький текст о&nbsp;деятельности компании, продуктач, для кого, его и&nbsp;прочее
          .postulat
            .img-block
              img(src="img/postulat-1.png", alt="")
              img(src="img/postulat-2.png", alt="")
              img(src="img/postulat-3.png", alt="")
      .img-block.about-us__img-container
        img(src="img/about-img-1.jpg", alt="")
        img(src="img/about-img-2.jpg", alt="")
        img(src="img/about-img-3.jpg", alt="")
        img(src="img/about-img-4.jpg", alt="")
        img(src="img/about-img-5.jpg", alt="")