extends layout/main

block content
  .cart-page-wrapper.main-font
    .container
      .row
        .col-8.cart-main-col
          .cart-page__col-top
            h1.block-title-md Ваш заказ
            .cart-list
              .cart-list__item.item
                .row.align-items-center
                  .col.cart-list__item-preview
                    .img-block
                      img(src="img/cart-list-prev.jpg" alt="")
                  .col.cart-list__item-main-desc
                    .cart-list__item-name
                      strong
                        span Brainstorm
                    .cart-list__item-desc
                      span 9 модулей, 10 планшетов, 48 стикеровь
                  .col.cart-list__item-cost
                    strong.total 12 150
                    span.rub &#8381;
                  .col.cart-list__item-control
                    .number-control.js-numberControl
                      button.btn.minus &#8722;
                      input.total(type="text" value=1)
                      button.btn.plus +
                  .col.cart-list__close
                    button.cart-list__close-item.js-closeCartItem
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.4099 11.9999L19.7099 5.70994C19.8982 5.52164 20.004 5.26624 20.004 4.99994C20.004 4.73364 19.8982 4.47825 19.7099 4.28994C19.5216 4.10164 19.2662 3.99585 18.9999 3.99585C18.7336 3.99585 18.4782 4.10164 18.2899 4.28994L11.9999 10.5899L5.70994 4.28994C5.52164 4.10164 5.26624 3.99585 4.99994 3.99585C4.73364 3.99585 4.47824 4.10164 4.28994 4.28994C4.10164 4.47825 3.99585 4.73364 3.99585 4.99994C3.99585 5.26624 4.10164 5.52164 4.28994 5.70994L10.5899 11.9999L4.28994 18.2899C4.19621 18.3829 4.12182 18.4935 4.07105 18.6154C4.02028 18.7372 3.99414 18.8679 3.99414 18.9999C3.99414 19.132 4.02028 19.2627 4.07105 19.3845C4.12182 19.5064 4.19621 19.617 4.28994 19.7099C4.3829 19.8037 4.4935 19.8781 4.61536 19.9288C4.73722 19.9796 4.86793 20.0057 4.99994 20.0057C5.13195 20.0057 5.26266 19.9796 5.38452 19.9288C5.50638 19.8781 5.61698 19.8037 5.70994 19.7099L11.9999 13.4099L18.2899 19.7099C18.3829 19.8037 18.4935 19.8781 18.6154 19.9288C18.7372 19.9796 18.8679 20.0057 18.9999 20.0057C19.132 20.0057 19.2627 19.9796 19.3845 19.9288C19.5064 19.8781 19.617 19.8037 19.7099 19.7099C19.8037 19.617 19.8781 19.5064 19.9288 19.3845C19.9796 19.2627 20.0057 19.132 20.0057 18.9999C20.0057 18.8679 19.9796 18.7372 19.9288 18.6154C19.8781 18.4935 19.8037 18.3829 19.7099 18.2899L13.4099 11.9999Z" fill="#C1BEDA"/>
                      </svg>

              .cart-list__item.item
                .row.align-items-center
                  .col.cart-list__item-preview
                    .img-block
                      img(src="img/cart-list-prev.jpg" alt="")
                  .col.cart-list__item-main-desc
                    .cart-list__item-name
                      strong
                        span Brainstorm
                    .cart-list__item-desc
                      span 9 модулей, 10 планшетов, 48 стикеровь
                  .col.cart-list__item-cost
                    strong 12 150
                    span.rub &#8381;
                  .col.cart-list__item-control
                    .number-control.js-numberControl
                      button.btn.minus &#8722;
                      input.total(type="text" value=1)
                      button.btn.plus +
                  .col.cart-list__close
                    button.cart-list__close-item.js-closeCartItem
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.4099 11.9999L19.7099 5.70994C19.8982 5.52164 20.004 5.26624 20.004 4.99994C20.004 4.73364 19.8982 4.47825 19.7099 4.28994C19.5216 4.10164 19.2662 3.99585 18.9999 3.99585C18.7336 3.99585 18.4782 4.10164 18.2899 4.28994L11.9999 10.5899L5.70994 4.28994C5.52164 4.10164 5.26624 3.99585 4.99994 3.99585C4.73364 3.99585 4.47824 4.10164 4.28994 4.28994C4.10164 4.47825 3.99585 4.73364 3.99585 4.99994C3.99585 5.26624 4.10164 5.52164 4.28994 5.70994L10.5899 11.9999L4.28994 18.2899C4.19621 18.3829 4.12182 18.4935 4.07105 18.6154C4.02028 18.7372 3.99414 18.8679 3.99414 18.9999C3.99414 19.132 4.02028 19.2627 4.07105 19.3845C4.12182 19.5064 4.19621 19.617 4.28994 19.7099C4.3829 19.8037 4.4935 19.8781 4.61536 19.9288C4.73722 19.9796 4.86793 20.0057 4.99994 20.0057C5.13195 20.0057 5.26266 19.9796 5.38452 19.9288C5.50638 19.8781 5.61698 19.8037 5.70994 19.7099L11.9999 13.4099L18.2899 19.7099C18.3829 19.8037 18.4935 19.8781 18.6154 19.9288C18.7372 19.9796 18.8679 20.0057 18.9999 20.0057C19.132 20.0057 19.2627 19.9796 19.3845 19.9288C19.5064 19.8781 19.617 19.8037 19.7099 19.7099C19.8037 19.617 19.8781 19.5064 19.9288 19.3845C19.9796 19.2627 20.0057 19.132 20.0057 18.9999C20.0057 18.8679 19.9796 18.7372 19.9288 18.6154C19.8781 18.4935 19.8037 18.3829 19.7099 18.2899L13.4099 11.9999Z" fill="#C1BEDA"/>
                      </svg>

            .cart-total-info
              .cart-total-info__line
                table
                  tr
                    td Итого:
                    td #[strong #[span.js-totalCost 12 150]] #[span.rub &#8381;]
                  tr
                    td Доставка:
                    td #[strong 0] #[span.rub &#8381;]
                  tr
                    td #[strong Всего к оплате:]
                    td.total 12 150 #[span.rub &#8381;]
        .col-3.cart-form-col
          .cart-form
            p Чтобы оформить заказ, оставьте свои контакты и с вами свяжется менеджер

            form(action="#" method="POST")
              input(type="text" placeholder="Как к вам обращаться?")
              input(type="tel" placeholder="Телефон *" required)
              input(type="mail" placeholder="E-mail *" required)
              textarea(name="comments")
              .custom-checkbox.private-policy
                input(type="checkbox" id="cart-form-private-policy")
                label(for="cart-form-private-policy") Компания Magniclick будет обрабатывать ваши персональные данные в&nbsp;соответствии с&nbsp;#[a(href="#") Политикой конфиденциальности]
              span.form-info
                | *. Поля являются обязательными для заполнения
              button(type="submit").btn.form-btn
                | Заказать

  .cart-popup
    button.cart-popup__close.js-closeCartPopup
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.4099 11.9999L19.7099 5.70994C19.8982 5.52164 20.004 5.26624 20.004 4.99994C20.004 4.73364 19.8982 4.47825 19.7099 4.28994C19.5216 4.10164 19.2662 3.99585 18.9999 3.99585C18.7336 3.99585 18.4782 4.10164 18.2899 4.28994L11.9999 10.5899L5.70994 4.28994C5.52164 4.10164 5.26624 3.99585 4.99994 3.99585C4.73364 3.99585 4.47824 4.10164 4.28994 4.28994C4.10164 4.47825 3.99585 4.73364 3.99585 4.99994C3.99585 5.26624 4.10164 5.52164 4.28994 5.70994L10.5899 11.9999L4.28994 18.2899C4.19621 18.3829 4.12182 18.4935 4.07105 18.6154C4.02028 18.7372 3.99414 18.8679 3.99414 18.9999C3.99414 19.132 4.02028 19.2627 4.07105 19.3845C4.12182 19.5064 4.19621 19.617 4.28994 19.7099C4.3829 19.8037 4.4935 19.8781 4.61536 19.9288C4.73722 19.9796 4.86793 20.0057 4.99994 20.0057C5.13195 20.0057 5.26266 19.9796 5.38452 19.9288C5.50638 19.8781 5.61698 19.8037 5.70994 19.7099L11.9999 13.4099L18.2899 19.7099C18.3829 19.8037 18.4935 19.8781 18.6154 19.9288C18.7372 19.9796 18.8679 20.0057 18.9999 20.0057C19.132 20.0057 19.2627 19.9796 19.3845 19.9288C19.5064 19.8781 19.617 19.8037 19.7099 19.7099C19.8037 19.617 19.8781 19.5064 19.9288 19.3845C19.9796 19.2627 20.0057 19.132 20.0057 18.9999C20.0057 18.8679 19.9796 18.7372 19.9288 18.6154C19.8781 18.4935 19.8037 18.3829 19.7099 18.2899L13.4099 11.9999Z" fill="#354151"/>
      </svg>

    .cart-popup__inner.main-font
      .block-title-md
        span Заказ принят!

      p Ваш заказ уже пакуют, в&nbsp;ближайшее время с&nbsp;вами свяжется менеджер для уточнения деталей

      .img-block
        img(src="img/cart-popup.svg" alt="Cart Popup")