extends layout/main

block  variables
  - var mainPage = false;
  - var reverse = true;
  - var productTitle = ['Командная работа для решения любых задач', 'Вовлекай каждого.'];
  - var productText = ['Компания magniclick появилась на стыке инновационного и группового подхода. Наши инструменты созданы для того, чтобы укрепить процессы team-building (тим билдинга) и одиночной работы. Мы даем голос каждому.', 'Мы объединяем усилия команды, вовлекая каждого ее члена. Мы живем на стыке обучения, сотрудничества, прогресса и изобретательства.'];
  - var productImg = ['img/page-line-1.jpg', 'img/page-line-2.jpg'];
  - var advantages = true;

block content

  .jumb.page-jumb.main-font(style="background-image: url( 'img/page-test-img.jpg' )")
    .container
      .page-jumb__desc
        p.page-jumb__overtitle Командная работа
        h1 Планируй. #[br] Организуй. #[br] Делай

  .container
    include ./pug_site_components/product/_desc-line.pug


  section.sec
    .container
      h2.block-title.block-title-md Для командной работы
      include ./pug_site_components/product/_more-products.pug