extends layout/main

block  variables
  - var mainPage = false;
  - var reverse = true;
  - var productTitle = ['Cтикеры Magniclick — группируйте, приоритизируйте, организуйте', 'Cтикеры Magniclick — группируйте, приоритизируйте, организуйте'];
  - var productText = ['Рай для организаторов!Магнитные стикеры Магниклик – это система комбинирующихся маркерных магнитных карточек. Описывайте проекты, разделяйте их на задачи, расставляйте приоритеты и назначайте ответственных! С Магниклик вы сможете делать это более наглядно и понятно, а значит, более эффективно!', 'Магнитные стикеры крепятся к металлическим поверхностям и маркерным доскам. Их можно соединять друг с другом, накладывать один на другой и комбинировать по цветам. Например, все задачи одного сотрудника можно собрать в стопку по порядку, обозначив цветами приоритет каждой из них.'];
  - var productImg = ['img/products/product-img-4.jpg', 'img/products/product-img-5.jpg'];
  - var productPageTitle = 'Магнитные стикеры';
  - var productPageDesc = '10х15 см';
  //- - var boardCover = true;
  //- - var boardControl = true;
  - var advantages = true;
  - var boardColor = ['#84C065', '#F4BE22', '#EC994D', '#FF5221', '#5A529C', '#6FB1F4', '#6DD5F3'];
  - var stiker = true;

block content
  include ./pug_site_components/product/_product-jumb.pug
  .container
    .product-main-desc
      include ./pug_site_components/product/_desc-line.pug

  section.sec
    .container
      h2.block-title.block-title-md С этим покупают
      include ./pug_site_components/product/_more-products.pug

  section.sec
    .container
      h2.block-title.block-title-md Специальное предложение
      include ./pug_site_components/_special-card.pug