extends layout/main

block  variables
  - var mainPage = false;
  - var reverse = false;
  - var productTitle = ['Что такое Magniclick?'];
  - var productText = ['Magniclick - модульно-маркерная доска. Инструмент, позволяющий сделать рабочий процесс более эффективным, открытым и понятным для всех специалистов. Модульная система Magniclick собирает воедино преимущества маркерных досок, флипчартов, стикеров. Модули можно перемещать, менять местами, забирать с собой на стол и работать в команде над вариантами решений. Индивидуальная печать на модулях позволит реализовать Эджайл методологии, популярные в передовых IT-компаниях.'];
  - var productImg = ['img/products/product-img-1.jpg'];
  - var productPageTitle = 'Модульная доска';
  - var productPageDesc = '60х40 см';
  - var boardCover = true;
  - var boardControl = true;
  - var advantages = true;

block content
  include ./pug_site_components/product/_product-jumb.pug
  .container
    .product-main-desc
      include ./pug_site_components/product/_desc-line.pug

  section
    .container
      h2.block-title.block-title-md Преимущества
      include ./pug_site_components/product/_product-advantages.pug
      include ./pug_site_components/product/_product-advantages.pug

  section.montage-wrapper.sec
    .container
      h2.block-title.block-title-md Монтаж
      include ./pug_site_components/product/_montage.pug

  section.sec
    .container
      h2.block-title.block-title-md С этим покупают
      include ./pug_site_components/product/_more-products.pug

  section.sec
    .container
      h2.block-title.block-title-md Специальное предложение
      include ./pug_site_components/_special-card.pug