extends layout/main

block  variables
  - var mainPage = false;
  - var reverse = true;
  - var productTitle = ['Маркерные планшеты Больше места для ваших идей', 'Для дел и творчества!'];
  - var productText = ['Прекрасное дополнение к белой доске! Планшеты формата А4, которые можно класть на стол или крепить к любой металлической поверхности: маркерной доске или например холо- дильнику. Можно использовать везде, где вам нужно вести списки или писать заметки. Идеальны для чек-листов, схем и рисунков!', 'Структурируйте или рисуйте: планшеты Магниклик станут незаменимыми помощниками на работе и дома. Вот как наши клиенты используют их дома: - рецепты на кухне - список покупок на холодильнике Дайте волю фантазии, используйте меньше бумаги и экономьте! '];
  - var productImg = ['img/products/product-img-2.jpg', 'img/products/product-img-3.jpg'];
  - var productPageTitle = 'Маркерный планшет';
  - var productPageDesc = 'А4 (210х297 мм)';
  - var boardControl = true;
  - var advantages = true;

block content
  include ./pug_site_components/product/_product-jumb.pug
  .container
    .product-main-desc
      include ./pug_site_components/product/_desc-line.pug

  section
    .container
      h2.block-title.block-title-md Преимущества
      include ./pug_site_components/product/_product-advantages.pug

  section.sec
    .container
      h2.block-title.block-title-md С этим покупают
      include ./pug_site_components/product/_more-products.pug

  section.sec
    .container
      h2.block-title.block-title-md Специальное предложение

      include ./pug_site_components/_special-card.pug