extends layout/main

block  variables
  - var boardControl = true;
  - var productPageTitle = 'Brainstorm';
  - stickLine = true;
  - var stickLine = [{'img': 'img/stickers/ModularBoard.png','total': 'x9','desc': 'Магнитных модулей'},{'img': 'img/stickers/MarkerTablet.png','total': 'x10','desc': 'Маркерных планшетов'},{'img': 'img/stickers/MagneticStickers.png','total': 'x48','desc': 'Магнитных стикеров'}];

block content
  include ./pug_site_components/product/_product-jumb.pug
  section.sec
    .container

      h2.block-title.block-title-md Заголовок
      p Magniclick - модульно-маркерная доска. Инструмент, позволяющий сделать рабочий процесс более эффективным, открытым и понятным для всех специалистов. Модульная система Magniclick собирает воедино преимущества маркерных досок, флипчартов, стикеров. Модули можно перемещать, менять местами, забирать с собой на стол и работать в команде над вариантами решений. Индивидуальная печать на модулях позволит реализовать Эджайл методологии, популярные в передовых IT-компаниях.

  section.sec
    .container
      h2.block-title.block-title-md Другие специальные предложения
      include ./pug_site_components/_more-special.pug