block variables
- var var_title = 'Index page'
- var var_dscr = 'Description'

if( mainPage )
  - var mainPageClass = 'main-page';
if( aboutUs )
  - var mainPageClass = 'about-us-page';

doctype html
html(lang='ru')
  include ../_head.pug
  body(class=mainPageClass)
    .container-fluid
      header.header
        include ../pug_site_components/_navigation.pug

      block content

      include ../_footer.pug